/* _ada.scss */
%hidden {
    height: 1px;
    left: -5000px;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 1px;
}

.hidden {
    @extend %hidden;
}
i.fa-external-link::after {
    @extend %hidden;
    content: 'External link';
}

.social-icon {
    color: transparent;
}
.externals .note {
    color: #666;
}
