/* _ada.scss */

%hidden {
    height: 1px;
    left: -5000px;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 1px;
}

.hidden {
    @extend %hidden;
}
i.fa-external-link::after {
    @extend %hidden;
    content: 'External link';
}

.social-icon {
    color: transparent;
    font-size: 1px;
}
.externals .note {
    color: #666;
}
[data-footnote] {
    cursor: pointer;
}
:focus {
    outline: yellow auto 5px !important;
    outline-offset: -1px !important;
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
