/* _base.scss */
body {
    background: white;
    font-family: $serif;
    font-size: 14px;
}
a {
    -moz-transition: all .2s;
    -o-transition: all .2s;
    -webkit-transition: all .2s;
    color: $gray3;
    text-decoration: underline;
    transition: all .2s;
    &:hover {
        color: #666;
        text-decoration: none;
    }
}
h1,h2,h3,h4,h5,h6 {
    color: $gray3;
    font-family: $serif;
    font-weight: 500;
    line-height: 1.3em;
    margin: 0 0 20px;
}
h1 {
    font-size: 42px;
}
h2 {
    font-size: 32px;
}
h3 {
    font-size: 24px;
}
h4 {
    font-size: 20px;
}
h5 {
    font-size: 16px;
}
h6 {
    font-size: 13px;
}
blockquote {
    border: 0;
    margin: 0;
    padding: 0 20px;
    p {
        color: $gray3;
        font: 300 20px/26px $serif;
        &::after,
        &::before {
            color: rgba(0,0,0,.5);
        }
    }
    small {
        color: $blue2;
        font: 16px $serif;
        &::before {
            content: '';
        }
        .occupation {
            color: #999;
            display: block;
            font: 13px $serif;
        }
    }
}
img {
    max-width: 100%;
}
footer {
    background: $gray3;
    color: white;
    padding: 100px 20px;
    position: relative;
    text-align: center;
    .back-to-top {
        padding-right: 35px;
        position: absolute;
        top: -16px;
        width: 100%;
        .btn {
            width: 150px;
            &::after {
                content: '\f101';
                font-family: FontAwesome;
                padding-left: 10px;
            }
        }
    }
    .copyrights {
        display: block;
        font-family: $serif;
        font-size: 11px;
        font-weight: 500;
        line-height: 1.5em;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        max-width: 1000px;
        a {
            color: white;
            font-weight: 700;
            padding-left: 10px;
            padding-right: 10px;
            text-decoration: none;
        }
    }
}
