/* _btn.scss */

.btn {
    background: $blue2;
    border: 0;
    border-radius: 0;
    color: white;
    font-family: $sans;
    font-size: 13px;
    margin-bottom: 3px;
    text-decoration: none;
    text-shadow: none;
    &.active, &.disabled, &:active, &:focus, &:hover, &[disabled] {
        background-color: $gray3;
        color: white;
    }
    &:focus, &:hover {
        color: white;
        outline: 0;
        text-decoration: none;
    }
}
.btn-lg {
    font-size: 13px;
    padding: 12px;
}
.btn-xs {
    font-size: 13px;
}
.btn-primary, .btn-danger, .btn-info, .btn-inverse, .btn-success, .btn-warning {
    &, &.active, &:active, &.disabled, &[disabled], &:focus, &:hover {
        background-color: $gray3;
        background-image: none;
        border-color: transparent;
        color: white;
        text-shadow: none;
    }
}
.btn-primary {
    background-color: $blue2;
    border-color: transparent;
    color: white;
    text-shadow: none;
}
.btn-warning {
    background-image: none;
    &, &.active, &:active {
        background-color: $orange3 !important;
    }
}
.btn-danger {
    &, &.active, &:active {
        background-color: #da4f49 !important;
    }
}
.btn-success {
    &, &.active, &:active {
        background-color: #5bb75b !important;
    }
}
.btn-info {
    &, &.active, &:active {
        background-color: #49afcd !important;
    }
}
.btn-inverse {
    background-image: none;
    border-color: transparent;
    color: white;
    &, &.active, &:active {
        background-color: $gray3 !important;
    }
}
.btn-link {
    border-color: transparent;
    border-radius: 0;
    color: $gray3;
    cursor: pointer;
    &, &:active, &[disabled] {
        background-color: transparent !important;
        background-image: none;
        box-shadow: none;
    }
    &:focus, &:hover {
        background-color: transparent;
        color: #666 !important;
        text-decoration: underline;
    }
}

.sidesocial {
    height: 33px;
    width: 33px;

    &:hover {
        background: #777;
    }
    a {
        height: 100%;
    }
    .social-icon {
        vertical-align: -webkit-baseline-middle;
    }
}
