/* _header.scss */
#page-header {
    background: url('../images/home-bg.jpg') bottom center;
    background-attachment: fixed!important;
    background-size: cover!important;
    position: relative;
    &::before {
        background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,rgba(0,0,0,.1)),color-stop(40%,rgba(0,0,0,.1)),color-stop(100%,rgba(0,0,0,.4)));
        background-image: -webkit-linear-gradient(rgba(0,0,0,.1) 0,rgba(0,0,0,.1) 40%,rgba(0,0,0,.4) 100%);
        background-image: -moz-linear-gradient(rgba(0,0,0,.1) 0,rgba(0,0,0,.1) 40%,rgba(0,0,0,.4) 100%);
        background-image: -o-linear-gradient(rgba(0,0,0,.1) 0,rgba(0,0,0,.1) 40%,rgba(0,0,0,.4) 100%);
        background-image: linear-gradient(rgba(0,0,0,.1) 0,rgba(0,0,0,.1) 40%,rgba(0,0,0,.4) 100%);
        content: "";
        height: 100%;
        position: absolute;
        top: 0;
        width: 100%;
    }
    .container {
        height: 100%;
        position: relative;
        z-index: 1;
    }
    .page-nav {
        height: 70px;
        line-height: 70px;
        width: 100%;
        .btn-back-home {
            color: white;
            font: 14px sans-serif;
            text-decoration: none;
            &:hover {
                color: #e6e6e6;
            }
            &::before {
                content: "\f060\2003";
                font: 12px FontAwesome;
                text-decoration: none;
            }
        }
    }
    .page-logo {
        text-align: center;
        width: 100%;
    }
    .section-header {
        margin: 0;
    }
    .page-title {
        margin: 100px 0;
        width: 100%;
        .header-desc span, h1, h2, h3, h4, h5, h6 {
            color: white;
        }
    }
}

@media(max-width:991px) {
    #page-header .page-title {
        h1 span, h2 span, h3 span, h4 span, h5 span, h6 span {
            &::after { border: 0; }
        }
    }
    #page-header .header-desc span {
        width: 100%;
    }
}

.section-header {
    margin-bottom: 100px;
    h1, h2, h3, h4, h5, h6 {
        color: #191919;
        font-family: $serif;
        font-weight: 800;
        margin-top: 25px;
        text-align: center;
        span {
            position: relative;
            &::after, &::before {
                border-bottom: 75px solid #bb0e82;
                content: "";
                position: absolute;
                width: 4px;
            }
            &::before { left: -15px; }
            &::after { right: -15px; }
        }
    }
    h1 span::after, h1 span::before { top: -25px; }
    h2 span::after, h2 span::before { top: 18px; }
    h3 span::after, h3 span::before { top: 14px; }
    h4 span::after, h4 span::before { top: 12px; }
    h5 span::after, h5 span::before { top: 10px; }
    h6 span::after, h6 span::before { top: 8.5px; }
    .header-desc::before {
        border-bottom: 0;
        content: "";
    }
}
