/* _header.scss */
#page-header {
    background: url('../images/home-bg.jpg') bottom center;
    background-attachment: fixed!important;
    background-size: cover!important;
    position: relative;
}
#page-header::before {
    background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,rgba(0,0,0,.1)),color-stop(40%,rgba(0,0,0,.1)),color-stop(100%,rgba(0,0,0,.4)));
    background-image: -webkit-linear-gradient(rgba(0,0,0,.1) 0,rgba(0,0,0,.1) 40%,rgba(0,0,0,.4) 100%);
    background-image: -moz-linear-gradient(rgba(0,0,0,.1) 0,rgba(0,0,0,.1) 40%,rgba(0,0,0,.4) 100%);
    background-image: -o-linear-gradient(rgba(0,0,0,.1) 0,rgba(0,0,0,.1) 40%,rgba(0,0,0,.4) 100%);
    background-image: linear-gradient(rgba(0,0,0,.1) 0,rgba(0,0,0,.1) 40%,rgba(0,0,0,.4) 100%);
    content: "";
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
}
#page-header .container {
    height: 100%;
    position: relative;
    z-index: 1;
}
#page-header .page-nav {
    height: 70px;
    line-height: 70px;
    width: 100%;
}
#page-header .page-nav .btn-back-home {
    color: white;
    font: 14px sans-serif;
    text-decoration: none;
}
#page-header .page-nav .btn-back-home:hover {
    color: #e6e6e6;
}
#page-header .page-nav .btn-back-home::before {
    content: "\f060\2003";
    font: 12px FontAwesome;
    text-decoration: none;
}
#page-header .page-logo {
    text-align: center;
    width: 100%;
}
#page-header .section-header {
    margin: 0;
}
#page-header .page-title {
    margin: 100px 0;
    width: 100%;
}
#page-header .page-title .header-desc span,#page-header .page-title h1,#page-header .page-title h2,#page-header .page-title h3,#page-header .page-title h4,#page-header .page-title h5,#page-header .page-title h6 {
    color: white;
}

@media(max-width:991px) {
    #page-header .page-title h1 span::after,#page-header .page-title h2 span::after,#page-header .page-title h3 span::after,#page-header .page-title h4 span::after,#page-header .page-title h5 span::after,#page-header .page-title h6 span::after {
        border: 0;
    }
    #page-header .header-desc span {
        width: 100%;
    }
}
