/* _misc.scss */
#navbar.scroll-to-fixed-fixed {
    box-shadow: 0 0 22px rgba(0,0,0,0.22);
}
/*
.student1 h4 {
    color: #f79420;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    margin: 0;
    -webkit-font-smoothing: antialiased;
}
*/
#stickyBar {
    box-shadow: 0 0 22px rgba(0,0,0,0.22);
}
