/* _misc.scss */

.home-content {
    margin-bottom: 100px;
    h1 {
        color: $gray3;
        font-family: $serif;
        font-weight: 800;
        line-height: 1;
        margin-top: 20px;
        text-align: center;
        span {
            position: relative;
            &::after, &::before {
                border-bottom: 75px solid $purple2;
                content: '';
                position: absolute;
                width: 5px;
            }
            &::before { left: -25px; }
            &::after { right: -25px; }
            &::after, &::before { top: -25px; }
        }
    }
    .box {
        background-color: transparentize($purple3, 0.1);
        font-family: $serif;
        left: 0; right: 0;
        margin: auto;
        padding: 2em;
        position: absolute;
        text-align: left;
        max-width: 50em;
        width: 70%;
        h3 {
            color: white;
            font-size: 21px;
            font-weight: 500;
        }
        p {
            font-size: 18px;
            margin-bottom: 0;
            margin-top: 10px;
            font-weight: 100;
        }
    }
}
section {
    a {
        font-weight: 700;
        text-decoration: none;
    }
}
#navbar.scroll-to-fixed-fixed {
    box-shadow: 0 0 22px $dusk2;
}
#stickyBar {
    @include transition( all .3s );
    bottom: 45%;
    margin-left: -1em;
    padding: 0.5em;
    position: fixed;
    z-index: 4;
    &:hover {
        margin-left: -0.6em;
    }
    td {
        background-color: $dusk7;
        box-shadow: 0 0 0.5em $dusk2;
        height: 3em;
        text-align: center;
        vertical-align: middle;
        width: 2em;
        &:hover {
            width: 3em;
        }
    }
    ul.socialcount {
        margin: 0.1em;
        li {
            background: none;
        }
        a {
            padding: 0;
            &:hover {
                background-color: #777777;
                width: 3em;
            }
        }
    }
}
#scrollUp {
    @include transition( background 200ms linear );
    background-color: #999;
    bottom: 3px;
    color: white;
    font-family: $sans;
    font-size: 12px;
    opacity: .9;
    padding: 7px 20px;
    right: 18px;
    text-decoration: none;
    &:hover {
        background-color: black;
    }
    &::after {
        content: '\f102';
        font-family: FontAwesome;
        padding-left: 10px;
    }
}
.line-divider {
    background-color: black;
    height: 2px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.note ol {
    color: #999999;
    font-family: $sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 30px;
    margin-top: 10px;
    padding-left: 30px;
    a {
        color: #666666;
        font-size: 12px;
        white-space: nowrap;
    }
}

.fa-bars {
    position: fixed;
}

@media all {
    .topbot {
        margin-top: 60px;
    }
    .topbott {
        margin-top: 40px;
    }
}
@media(min-width:768px) and (max-width:991px) {
    .topbott {
        margin-bottom: 10px;
        margin-top: 10px;
    }
}
@media(min-width:481px) and (max-width:767px) {
    .topbott {
        margin-bottom: 30px;
        margin-top: 10px;
    }
}
@media only screen and (max-width:480px) {
    .note ol {
        margin-bottom: 30px;
        margin-top: 30px;
    }
    .topbott {
        margin-bottom: 30px;
        margin-top: 10px;
    }
}
