/* _nav.scss */
.nav-logo {
    display: inline-block;
}
#navbar.nav-home-top {
    -moz-transition: all .2s;
    -o-transition: all .2s;
    -webkit-transition: all .2s;
    background: rgba(255,255,255,.1);
    border-bottom: 1px solid rgba(255,255,255,.1);
    position: absolute!important;
    top: 0;
    transition: all .2s;
    z-index: 999;
}
#navbar.nav-home-top a {
    color: white;
    text-decoration: none;
}
#navbar.nav-home-top a:hover {
    color: #191919;
}
#navbar.nav-home-top .active,#navbar.nav-home-top .active:hover {
    border-bottom: 2px solid white;
}
#navbar.nav-fixed-fixed {
    -moz-transition: all .2s;
    -o-transition: all .2s;
    -webkit-transition: all .2s;
    background: white;
    border-bottom: 1px solid #f2f2f2;
    position: fixed!important;
    top: 0;
    transition: all .2s;
}
#navbar.nav-fixed-fixed a {
    color: #191919;
    text-decoration: none;
}
#navbar.nav-fixed-fixed a:hover {
    color: #666;
}
#navbar.nav-fixed-fixed .active {
    border-bottom: 2px solid #191919;
}
#navbar.nav-fixed-fixed .active:hover {
    border-bottom: 2px solid #666;
}
#navbar {
    background: white;
    border-bottom: 1px solid #f2f2f2;
    height: 70px;
    top: 0!important;
    width: 100%;
    z-index: 9999;
}
.nav-menu {
    float: right;
    list-style: none;
    margin-bottom: 0;
    margin-right: 0;
    margin-top: 0;
    padding: 0;
    position: relative;
    z-index: 15;
}
.nav-item {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding-left: 20px;
    padding-right: 0;
    padding-top: 25px;
}
.nav-logo {
    float: left;
    padding: .7em 1em;
}
li.nav-item.active a {
    border-bottom: 2px solid #191919;
}
.nav-item>a {
    color: #191919;
    display: inline-block;
    font-family: 'Archer SSm A','Archer SSm B',serif;
    font-size: 14px;
    margin: 0 0 -1px;
    padding: 0;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
}
.nav-item>a.open {
    background-color: white;
    border-bottom: 0;
    z-index: 1;
}
.sub-nav {
    background-color: black;
    border-top: 1px solid white;
    display: none;
    margin-left: -20px;
    margin-top: -1px;
    max-width: 250px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    position: absolute;
    top: 5em;
}
.sub-nav.open {
    display: block;
}
.sub-nav ul {
    display: inline-block;
    margin: 0 1em 0 0;
    padding: 0;
    vertical-align: top;
}
.sub-nav li {
    display: block;
    list-style-type: none;
    margin: 0 0 20px;
    padding: 0;
}
.sub-nav li a {
    color: white!important;
    display: block;
    font-family: 'Archer SSm A','Archer SSm B',serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.sub-nav li a:hover,.sub-nav li a:focus {
    color: #fc0!important;
}
