/* _nav.scss */
.nav-logo {
    display: inline-block;
    float: left;
    padding: .7em 1em;
}
#navbar {
    background: white;
    border-bottom: 1px solid #f2f2f2;
    height: 70px;
    top: 0!important;
    width: 100%;
    z-index: 9999;
    &.nav-home-top {
        -moz-transition: all .2s;
        -o-transition: all .2s;
        -webkit-transition: all .2s;
        background: rgba(255,255,255,.1);
        border-bottom: 1px solid rgba(255,255,255,.1);
        position: absolute!important;
        top: 0;
        transition: all .2s;
        z-index: 999;
        a {
            color: white;
            text-decoration: none;
            &:hover {
                color: #191919;
            }
        }
        .active {
            &:hover {
                border-bottom: 2px solid white;
            }
        }
    }
    &.nav-fixed-fixed {
        -moz-transition: all .2s;
        -o-transition: all .2s;
        -webkit-transition: all .2s;
        background: white;
        border-bottom: 1px solid #f2f2f2;
        position: fixed!important;
        top: 0;
        transition: all .2s;
        a {
            color: #191919;
            text-decoration: none;
            &:hover {
                color: #666;
            }
        }
        .active {
            border-bottom: 2px solid #191919;
            &:hover {
                border-bottom: 2px solid #666;
            }
        }
    }
}
.nav-menu {
    float: right;
    list-style: none;
    margin-bottom: 0;
    margin-right: 0;
    margin-top: 0;
    padding: 0;
    position: relative;
    z-index: 15;
}
.nav-item {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding-left: 20px;
    padding-right: 0;
    padding-top: 25px;
    &>a {
        color: #191919;
        display: inline-block;
        font-family: $serif;
        font-size: 14px;
        margin: 0 0 -1px;
        padding: 0;
        position: relative;
        text-decoration: none;
        text-transform: uppercase;
        &.open {
            background-color: white;
            border-bottom: 0;
            z-index: 1;
        }
    }
}
li.nav-item.active a {
    border-bottom: 2px solid #191919;
}
.sub-nav {
    background-color: black;
    border-top: 1px solid white;
    display: none;
    margin-left: -20px;
    margin-top: -1px;
    max-width: 250px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    position: absolute;
    top: 5em;
    &.open {
        display: block;
    }
    ul {
        display: inline-block;
        margin: 0 1em 0 0;
        padding: 0;
        vertical-align: top;
    }
    li {
        display: block;
        list-style-type: none;
        margin: 0 0 20px;
        padding: 0;
        a {
            color: white!important;
            display: block;
            font-family: $serif;
            list-style-type: none;
            margin: 0;
            padding: 0;
            text-decoration: none;
            &:hover, &:focus {
                color: #fc0!important;
            }
        }
    }
}
