/* _pill.scss */
#scrollUp {
    -moz-transition: background 200ms linear;
    -o-transition: background 200ms linear;
    -webkit-backface-visibility: hidden;
    -webkit-transition: background 200ms linear;
    background-color: #999;
    bottom: 3px;
    color: #fff;
    font-family: "myriad-pro",sans-serif;
    font-size: 12px;
    opacity: .9;
    padding: 7px 20px;
    right: 18px;
    text-decoration: none;
    transition: background 200ms linear;
}
#scrollUp:hover {
    background-color: #000;
}
#scrollUp::after {
    content: "\f102";
    font-family: FontAwesome;
    padding-left: 10px;
}
