/* _pill.scss */
#scrollUp {
    @include transition( background 200ms linear );
    background-color: #999;
    bottom: 3px;
    color: white;
    font-family: $sans;
    font-size: 12px;
    opacity: .9;
    padding: 7px 20px;
    right: 18px;
    text-decoration: none;
    &:hover {
        background-color: black;
    }
    &::after {
        content: '\f102';
        font-family: FontAwesome;
        padding-left: 10px;
    }
}
