/* _style.scss */

.upgradeframe {
    @include opacity( 0.8 );
    background: #b10000;
    color: white;
    font-size: 40px;
    left: 0;
    padding: 2em 20%;
    position: fixed;
    right: 0;
    text-align: center;
    top: 0;
    width: auto;
    z-index: 99999;
    h3 {
        color: white;
        font-family: $sans;
        font-size: 32px;
        margin-bottom: 10px;
        margin-top: 0;
        text-transform: capitalize;
    }
    p {
        color: white;
        font-family: $sans;
        font-size: 18px;
        line-height: 1.5em;
        margin-bottom: 0;
        margin-top: 0;
    }
    a {
        color: white;
        font-weight: 600;
        text-decoration: none;
        text-decoration: underline;
        &:hover {
            color: black;
            text-decoration: underline;
        }
    }
}
.page-container {
    overflow: hidden;
}
.lb-image {
    max-width: none !important;
}
.clr {
    clear: both;
}
.pad20 {
    padding-bottom: 20px;
    padding-top: 20px;
}
.line-seperator {
    background-color: black;
    clear: both;
    height: 1px;
    margin-bottom: 30px;
    margin-top: 30px;
}
#home {
    background-attachment: fixed !important;
    background-size: cover !important;
    color: white;
    height: 700px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    .logo-home {
        padding: 100px 0;
        text-align: center;
    }
    .home-bg-container {
        height: 100%;
        position: absolute;
        width: 100%;
    }
    .overlay {
        height: 100%;
        position: relative;
        z-index: 6;
    }
}
.home-content {
    height: 100%;
    position: relative;
    z-index: 6;
}
.home-slideshow-bg {
    .slides {
        height: 100%;
    }
    li {
        background-size: cover !important;
        height: 100%;
    }
}
.first-section {
    padding-top: 75px;
    z-index: 1;
}
.light {
    font-weight: 100 !important;
}
.el-gap {
    margin-bottom: 100px;
}

.section {
    background: white;
    padding: 50px 0;
    position: relative;
}
.section-diff {
    background: $gray2;
}
.section-bg-overlay {
    &::before {
        background: dusk(0.7);
        content: '';
        height: 100%;
        position: absolute;
        top: 0;
        width: 100%;
    }
    .container {
        position: relative;
    }
    .small-header span {
        background: 0 0 !important;
    }
}
.section-bg-attached {
    background-attachment: fixed !important;
    background-size: cover !important;
}

.bottom-gap {
    margin-bottom: 50px;
}
.accent-color {
    color: $blue2;
}

.nav>li>a:focus,.nav>li>a:hover {
    background-color: $gray2;
    border: 0;
}
.panel {
    background: $gray2;
    border: 0;
    box-shadow: none;
}
.panel-body {
    padding: 20px;
}
.panel-group .panel {
    border-radius: 0;
}
.panel-heading {
    padding: 0;
    a {
        display: block;
        font: 14px $sans;
        padding: 15px 20px;
        text-decoration: none;
    }
}
.panel-default>.panel-heading {
    background: $gray2;
    color: $gray3;
}
.panel-default>.panel-heading+.panel-collapse .panel-body {
    border-top: 1px dashed #d9d9d9;
}
.progress {
    background-color: $gray2;
    border-radius: 0;
    box-shadow: none;
    height: 30px;
    margin-bottom: 15px;
}
.progress-bar {
    background-color: $plum1;
    box-shadow: none;
    color: white;
    font: 13px $sans;
    line-height: 30px;
    padding: 0 10px;
    text-align: right;
}
.smgreybox {
    background: $gray1;
    @include background-image(linear-gradient(left, $gray1 0, $gray2 100%));
    color: black;
    float: right;
    font: 14px $sans;
    line-height: 1.3em;
    padding: 20px;
}
@media(max-width:991px) {
    .col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9 {
        margin-bottom: 50px;
    }
    .team-member-big {
        &:hover .team-member-overlay h5 {
            bottom: 55%;
        }
        p {
            display: none;
        }
        .team-member-overlay .social-icons a {
            height: 25px;
            padding: 6px;
            width: 25px;
        }
    }
    .team-member-big,
    .team-member-small {
        margin-bottom: 40px;
    }
    .devices {
        height: 300px;
    }
    .portfolio-item {
        width: 33.333%;
    }
    .sidebar {
        margin-top: 30px;
    }
    .comment-container .avatar img {
        width: 45px;
    }
    .bottom-gap,
    .resp-no-gap {
        margin-bottom: 0;
    }
    .trigger-fixed {
        position: absolute !important;
    }
    .idea {
        display: none;
    }
}
@media screen and (max-width:768px) {
    .col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,
        .col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-xs-1,.col-xs-10,
        .col-xs-11,.col-xs-12,.col-xs-2,.col-xs-3,.col-xs-4,
        .col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9 {
        margin-bottom: 50px;
    }
    .story-item-content {
        width: 80%;
    }
    .si-year::after {
        display: none;
    }
    .story-item:nth-child(even) .story-item-content .si-year {
        left: -30px;
    }
    .story-item:nth-child(odd) .story-item-content .si-year {
        right: -30px;
    }
    .bottom-gap,
    .resp-no-gap {
        margin-bottom: 0;
    }
    .goto-blog .btn,
    .portfolio-item {
        width: 50%;
    }
    .idea {
        display: none;
    }
    .home-more {
        display: none;
    }
}
@media screen and (max-width:480px) {
    .studentbox {
        display: none;
    }
    .section {
        padding: 10px 0 !important;
    }
    .letter {
        padding: 140px 20px 20px !important;
    }
    .executive-info {
        padding-left: 0 !important;
    }
    .home-more {
        display: none;
    }
}
