/* _style.scss */
.upgradeframe {
    -khtml-opacity: .8;
    -moz-opacity: .8;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0.8);
    background: #b10000;
    color: white;
    font-size: 40px;
    left: 0;
    opacity: .8;
    padding: 2em 20%;
    position: fixed;
    right: 0;
    text-align: center;
    text-align: center;
    top: 0;
    width: auto;
    z-index: 99999;
}
.upgradeframe h3 {
    color: white;
    font-family: "myriad-pro",sans-serif;
    font-size: 32px;
    margin-bottom: 10px;
    margin-top: 0;
    text-transform: capitalize;
}
.upgradeframe p {
    color: white;
    font-family: "myriad-pro",sans-serif;
    font-size: 18px;
    line-height: 1.5em;
    margin-bottom: 0;
    margin-top: 0;
}
.upgradeframe a {
    color: white;
    font-weight: 600;
    text-decoration: none;
    text-decoration: underline;
}
.upgradeframe a:hover {
    color: black;
    text-decoration: underline;
}
.page-container {
    overflow: hidden;
}

.lb-image {
    max-width: none!important;
}
.clr {
    clear: both;
}
.pad20 {
    padding-bottom: 20px;
    padding-top: 20px;
}
.line-seperator {
    background-color: black;
    clear: both;
    height: 1px;
    margin-bottom: 30px;
    margin-top: 30px;
}

header {
/*    background: white;*/
}
#home {
    background-attachment: fixed!important;
    background-size: cover!important;
    color: white;
    height: 700px;
    margin: 0 auto;
    position: relative;
    text-align: center;
}
#home .logo-home {
    padding: 100px 0;
    text-align: center;
}
#home .home-bg-container {
    height: 100%;
    position: absolute;
    width: 100%;
}
#home .overlay {
    height: 100%;
    position: relative;
    z-index: 6;
}

.home-content {
    height: 100%;
    position: relative;
    z-index: 6;
}
.home-slideshow-bg .slides,.home-slideshow-bg li {
    height: 100%;
}
.home-slideshow-bg li {
    background-size: cover!important;
}
.first-section {
    padding-top: 75px;
    z-index: 1;
}
.el-gap {
    margin-bottom: 100px;
}

.section {
    background: white;
    padding: 50px 0;
    position: relative;
}
.section-diff {
    background: #f2f2f2;
}
.section-bg-overlay::before {
    background: rgba(0,0,0,.7);
    content: "";
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
}
.section-bg-overlay .container {
    position: relative;
}
.section-bg-overlay .small-header span {
    background: 0 0!important;
}
.section-bg-attached {
    background-attachment: fixed!important;
    background-size: cover!important;
}

.bottom-gap {
    margin-bottom: 50px;
}
.p-big-desc {
    font: 28px/30px 'Archer SSm A','Archer SSm B',serif;
}
.accent-color {
    color: #00a5d9;
}

.page-content {
    background: url('../images/map-bg.jpg') no-repeat center top white 50% -300px;
}
.page-content .section {
    background: 0;
}

.nav>li>a:focus,.nav>li>a:hover {
    background-color: #f2f2f2;
    border: 0;
}
.panel {
    background: #f2f2f2;
    border: 0;
    box-shadow: none;
}
.panel-body {
    padding: 20px;
}
.panel-group .panel {
    border-radius: 0;
}
.panel-heading {
    padding: 0;
}
.panel-heading a {
    display: block;
    font: 14px myriad-pro,sans-serif;
    padding: 15px 20px;
    text-decoration: none;
}
.panel-default>.panel-heading {
    background: #f2f2f2;
    color: #191919;
}
.panel-default>.panel-heading+.panel-collapse .panel-body {
    border-top: 1px dashed #d9d9d9;
}
.progress {
    background-color: #f2f2f2;
    border-radius: 0;
    box-shadow: none;
    height: 30px;
    margin-bottom: 15px;
}
.progress-bar {
    background-color: #970e76;
    box-shadow: none;
    color: white;
    font: 13px myriad-pro,sans-serif;
    line-height: 30px;
    padding: 0 10px;
    text-align: right;
}
.st-content,.st-content-inner {
    -moz-transition: -moz-transform .5s;
    -o-transition: -o-transform .5s;
    -webkit-transition: -webkit-transform .5s;
    background: white;
    position: relative;
    transition: transform .5s;
}
.st-container {
    overflow: hidden;
    position: relative;
}
.st-pusher {
    -moz-transition: -moz-transform .5s;
    -o-transition: -o-transform .5s;
    -webkit-transition: -webkit-transform .5s;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: relative;
    transition: transform .5s;
    z-index: 99;
}
.st-pusher:after {
    -moz-transition: opacity .5s,width .1s .5s,height .1s .5s;
    -o-transition: opacity .5s,width .1s .5s,height .1s .5s;
    -webkit-transition: opacity .5s,width .1s,height .1s;
    -webkit-transition-delay: 0s,.5s,.5s;
    background: rgba(0,0,0,.2);
    content: '';
    height: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity .5s,width .1s .5s,height .1s .5s;
    width: 0;
}
.st-menu {
    -webkit-transition: all .5s;
    background: #191919;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    transition: all .5s;
    visibility: hidden;
    width: 300px;
    z-index: 100;
}
.st-menu:after {
    -moz-transition: opacity .5s;
    -o-transition: opacity .5s;
    -webkit-transition: opacity .5s;
    background: rgba(0,0,0,.2);
    content: '';
    height: 100%;
    opacity: 1;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity .5s;
    width: 100%;
}
.st-menu-open .st-pusher::after {
    -moz-transition: opacity .5s;
    -o-transition: opacity .5s;
    -webkit-transition: opacity .5s;
    height: 100%;
    opacity: 1;
    transition: opacity .5s;
    width: 100%;
    z-index: 999;
}
.st-menu-open .st-menu::after {
    -moz-transition: opacity .5s,width .1s .5s,height .1s .5s;
    -o-transition: opacity .5s,width .1s .5s,height .1s .5s;
    -webkit-transition: opacity .5s,width .1s,height .1s;
    -webkit-transition-delay: 0s,.5s,.5s;
    height: 0;
    opacity: 0;
    transition: opacity .5s,width .1s .5s,height .1s .5s;
    width: 0;
}
#st-trigger-effects {
    display: block;
    padding-top: 25px;
    position: absolute;
    right: 30px;
    top: 0;
    z-index: 9999999;
}
#st-trigger-effects a {
    color: #191919;
    font: 16px 'Archer SSm A','Archer SSm B',serif;
    text-decoration: none;
    text-transform: uppercase;
}
#st-trigger-effects a i {
    padding-left: 5px;
}
.trigger-fixed {
    position: fixed!important;
}
.st-menu ul {
    list-style: none;
    margin: 20px 0;
    padding: 0;
}
.st-menu ul li a {
    -moz-transition: all .3s;
    -o-transition: all .3s;
    -webkit-transition: all .3s;
    color: white;
    display: block;
    font: 14px 'Archer SSm A','Archer SSm B',serif;
    padding: 7px 25px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .3s;
}
.st-menu ul li a i {
    font-size: 11px;
    padding-left: 8px;
}
.st-menu ul li a:hover {
    background: black;
    color: white;
}
.st-menu ul li .active {
    background: black;
}
.st-menu-logo {
    margin: 40px 25px;
}
.st-effect-2.st-menu-open .st-pusher {
    -moz-transform: translate3d(-300px,0,0);
    -ms-transform: translate3d(-300px,0,0);
    -o-transform: translate3d(-300px,0,0);
    -webkit-transform: translate3d(-300px,0,0);
    transform: translate3d(-300px,0,0);
}
.st-effect-2.st-menu {
    z-index: 1;
}
.st-effect-2.st-menu:after {
    display: none;
}
.st-effect-2.st-menu-open .st-effect-2.st-menu {
    -moz-transition: -moz-transform .5s;
    -o-transition: -o-transform .5s;
    -webkit-transition: -webkit-transform .5s;
    transition: transform .5s;
    visibility: visible;
}
.no-csstransforms3d .st-effect-2.st-menu-open .st-pusher,.no-js .st-effect-2.st-menu-open .st-pusher {
    padding-right: 300px;
}
.learnmore-box-2 .lightbulb-2 h3,.learnmore-box-3 h3 {
    color: #006991;
    font-family: "myriad-pro",sans-serif;
    font-size: 22px;
    font-style: italic;
    margin-bottom: 5px;
    margin-top: 0;
}
.lightbulb-2 {
    font-size: 14px;
}
.lightbulb-2 img {
    float: right;
    padding-bottom: 10px;
    padding-left: 10px;
}
.learnmore-box {
    margin-bottom: 20px;
    margin-top: 20px;
    max-width: 360px;
}
.learnmore-box,.learnmore-box-2,.learnmore-box-3,.learnmore-box-4,.smgreybox {
    background: #c4c4c4;
    background: -moz-linear-gradient(left,#c4c4c4 0,#f2f2f2 100%);
    background: -webkit-gradient(linear,left top,right top,color-stop(0%,#c4c4c4),color-stop(100%,#f2f2f2));
    background: -webkit-linear-gradient(left,#c4c4c4 0,#f2f2f2 100%);
    background: -o-linear-gradient(left,#c4c4c4 0,#f2f2f2 100%);
    background: -ms-linear-gradient(left,#c4c4c4 0,#f2f2f2 100%);
    background: linear-gradient(to right,#c4c4c4 0,#f2f2f2 100%);
    color: black;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c4c4c4',endColorstr='#f2f2f2',GradientType=1);
    float: right;
    font: 14px myriad-pro,sans-serif;
    line-height: 1.3em;
    padding: 20px;
}
.learnmore-box-3 {
    margin-bottom: -100px;
    width: 250px!important;
    z-index: 2;
}
.learnmore-box a,.learnmore-box-2 a,.learnmore-box-3 a {
    font-weight: 700;
    text-decoration: none;
}
.learnmore-box .lightbulb h3,.learnmore-box-3 h3,.learnmore-box-4 h3 {
    color: #006991!important;
    font-family: "myriad-pro",sans-serif;
    font-size: 22px!important;
    font-style: italic!important;
    margin-bottom: 5px;
    margin-top: 0;
}
.lightbulb {
    background-image: url('../images/bubble-lightbulb.png');
    background-position: right;
    background-repeat: no-repeat;
    font-size: 14px;
    min-height: 105px;
    padding-right: 110px;
}
.learnmore-box-4 {
    margin-bottom: -50px;
    margin-right: 200px;
    margin-top: 40px;
    width: 520px;
    z-index: 2;
}
.iconbox {
    padding-bottom: 10px;
    padding-right: 100px;
    text-align: right;
}
#stickySideBar {
    background: #f7f7f7;
    border-bottom: 1px solid #ddd;
    margin-bottom: 0;
    margin-right: 0;
    margin-top: 0;
    padding-left: 3px;
    width: 40px;
}
#stickyBar {
    bottom: 45%;
    float: left;
    margin-left: 0;
    position: fixed;
    z-index: 4;
}
@media(max-width:991px) {
    .col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9 {
        margin-bottom: 50px;
    }
    .si-desc {
        margin: 30px -15px -15px;
    }
    .header-desc span {
        width: 50%;
    }
    .team-member-big:hover .team-member-overlay h5 {
        bottom: 55%;
    }
    .team-member-big p {
        display: none;
    }
    .team-member-big .team-member-overlay .social-icons a {
        height: 25px;
        padding: 6px;
        width: 25px;
    }
    .team-member-big,.team-member-small {
        margin-bottom: 40px;
    }
    .devices {
        height: 300px;
    }
    .portfolio-item {
        width: 33.333%;
    }
    .sidebar {
        margin-top: 30px;
    }
    .comment-container .avatar img {
        width: 45px;
    }
    .bottom-gap,.resp-no-gap {
        margin-bottom: 0;
    }
    .trigger-fixed {
        position: absolute!important;
    }
    .idea {
        display: none;
    }
    .learnmore-box-3 h3 {
        margin-bottom: 10px!important;
        margin-top: 0!important;
        width: auto!important;
    }
    .learnmore-box-3 {
        margin-bottom: 0;
        margin-right: 0;
        margin-top: 20px;
        width: 100%;
        z-index: 2;
    }
    .learnmore-box-4 {
        margin-bottom: 0;
        margin-right: 0;
        margin-top: 20px;
        width: 100%;
        z-index: 2;
    }
}
@media only screen and (max-width:768px) {
    .col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-xs-1,.col-xs-10,.col-xs-11,.col-xs-12,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9 {
        margin-bottom: 50px;
    }
    .story-item-content {
        width: 80%;
    }
    .si-year::after {
        display: none;
    }
    .story-item:nth-child(even) .story-item-content .si-year {
        left: -30px;
    }
    .story-item:nth-child(odd) .story-item-content .si-year {
        right: -30px;
    }
    .si-desc {
        margin: 15px -15px -15px;
    }
    .bottom-gap,.resp-no-gap {
        margin-bottom: 0;
    }
    .goto-blog .btn,.portfolio-item {
        width: 50%;
    }
    .idea {
        display: none;
    }
    .learnmore-box-3 h3 {
        margin-bottom: 10px!important;
        margin-top: 0!important;
        width: auto!important;
    }
    .learnmore-box-3 {
        margin-bottom: 0;
        margin-right: 0;
        margin-top: 20px;
        width: 100%;
        z-index: 2;
    }
    .learnmore-box-4 {
        margin-bottom: 20px;
        margin-right: 0;
        margin-top: 20px;
        width: 100%;
        z-index: 2;
    }
    .home-more {
        display: none;
    }
}
@media only screen and (max-width:480px) {
    .studentbox {
        display: none;
    }
    .section {
        padding: 10px 0!important;
    }
    .letter {
        padding: 140px 20px 20px!important;
    }
    .executive-info {
        padding-left: 0!important;
    }
    .learnmore-box-3 h3 {
        margin-bottom: 10px!important;
        margin-top: 0!important;
        width: auto!important;
    }
    .learnmore-box-3 {
        margin-bottom: 0;
        margin-right: 0;
        margin-top: 20px;
        width: 100%;
        z-index: 2;
    }
    .learnmore-box-4 {
        margin-bottom: 20px;
        margin-right: 0;
        margin-top: 20px;
        width: 100%;
        z-index: 2;
    }
    .home-more {
        display: none;
    }
}
