// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
/*
@import 'animation';
@import 'compass/css3';
@import 'compass/css3/transition';
@import 'compass/css3/user-interface';
*/
// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
/*
@import 'core/_all';
@import 'flow/_all';
@import 'proj/_all';
*/
// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
/* CORE / define */
@import url('/lib/fonts/archer.ssm.css'); @import url('/lib/fonts/myriad.css'); @import url('/lib/fonts/myriad.con.css');
@import url('/lib/bootstrap/3.2.0/bootstrap.min.css');
@import url('/lib/font-awesome/4.3.0/css/font-awesome.min.css');
@import url('../vendor/socialcount/socialcount-with-icons.css');

$serif: 'Archer SSm A','Archer SSm B',serif;
$sans: 'myriad-pro',sans-serif;
$sans_cn: 'myriad-pro-condensed',sans-serif;

$blue1: #006991;    $blue2: #00a5d9;
$orange1: #bc5333;  $orange2: #e2641f;  $orange3: #f99300;
$green1: #2cb34a;   $green2: #009448;   $green3: #478831;
$purple1: #48206e;  $purple2: #6a2c91;  $purple3: #65368b;
$plum1: #970e76;    $plum2: #8f106e;    $plum3: #bb0e82;    $plum4: #ba0c82;
$red1: #ae132a;     $red2: #d12327;     $red3: #d53425;
$dark1: #006893;    $dark2: #0097cd;
$gray1: #c4c4c4;    $gray2: #f2f2f2;    $gray3: #191919;
$lightlav: #d4c8e3;

// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
@import 'pages/_all';
@import '_ani';
@import '_base';
@import '_btn';
@import '_header';
@import '_jp';
@import '_nav';
@import '_pill';
@import '_style';
@import '_modal';
@import '_misc';

/* >^º!º^< */
