@import url(css/socialcount.min.css);
@import url(css/socialcount.pinterest.css);
@import url(css/pill.css);
body { font-family: 'Archer SSm A', 'Archer SSm B', serif; font-size: 14px; background: #fff }
.upgradeframe { position: fixed; top: 0; left: 0; right: 0; text-align: center; background: #b10000; opacity: 0.8; -khtml-opacity: 0.8; -moz-opacity: 0.8; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha"(Opacity=0.8); color: #ffffff; padding-top: 2em; padding-bottom: 2em; padding-right: 20%; padding-left: 20%; z-index: 99999; text-align: center; width: auto; font-size: 40px }
.upgradeframe h3 { font-family: "myriad-pro", sans-serif; color: #ffffff; margin-top: 0; margin-bottom: 10px; font-size: 32px; text-transform: capitalize; }
.upgradeframe p { font-family: "myriad-pro", sans-serif; color: #ffffff; font-size: 18px; line-height: 1.5em; margin-top: 0; margin-bottom: 0; }
.upgradeframe a { text-decoration: none; font-weight: 600; text-decoration: underline; color: #ffffff; }
.upgradeframe a:hover { color: #000000; text-decoration: underline; }
.page-container { overflow: hidden }
a { color: #191919; text-decoration: underline; -webkit-transition: all .2s; -moz-transition: all .2s; -o-transition: all .2s; transition: all .2s }
a:hover { color: #666; text-decoration: none }
h1, h2, h3, h4, h5, h6 { font-family: 'Archer SSm A', 'Archer SSm B', serif; margin: 0 0 20px; color: #191919; line-height: 1.3em; font-weight: 500 }
h1 { font-size: 42px }
h2 { font-size: 32px }
h3 { font-size: 24px }
h4 { font-size: 20px }
h5 { font-size: 16px }
h6 { font-size: 13px }
blockquote { border: none; padding: 0 20px; margin: 0 }
blockquote p { font: 300 20px/26px 'Archer SSm A', 'Archer SSm B', serif; color: #191919 }
blockquote p::after, blockquote p::before { color: rgba(0,0,0,.5) }
blockquote small { font: 16px 'Archer SSm A', 'Archer SSm B', serif; color: #00a5d9 }
blockquote small::before { content: "" }
blockquote small .occupation { font: 13px 'Archer SSm A', 'Archer SSm B', serif; color: #999; display: block }
img { max-width: 100% }
.lb-image { max-width: none!important }
.clr { clear: both }
.pad20 { padding-top: 20px; padding-bottom: 20px }
.line-seperator { height: 1px; margin-top: 30px; margin-bottom: 30px; clear: both; background-color: #000 }
.nav-logo { display: inline-block }
#navbar.nav-home-top { position: absolute!important; top: 0; background: rgba(255,255,255,.1); border-bottom: 1px solid rgba(255,255,255,.1); -webkit-transition: all .2s; -moz-transition: all .2s; -o-transition: all .2s; transition: all .2s; z-index: 999 }
#navbar.nav-home-top a { color: #fff; text-decoration: none }
#navbar.nav-home-top a:hover { color: #191919 }
#navbar.nav-home-top .active, #navbar.nav-home-top .active:hover { border-bottom: 2px solid #fff }
#navbar.nav-fixed-fixed { position: fixed!important; top: 0; background: #fff; border-bottom: 1px solid #f2f2f2; -webkit-transition: all .2s; -moz-transition: all .2s; -o-transition: all .2s; transition: all .2s }
#navbar.nav-fixed-fixed a { color: #191919; text-decoration: none }
#navbar.nav-fixed-fixed a:hover { color: #666 }
#navbar.nav-fixed-fixed .active { border-bottom: 2px solid #191919 }
#navbar.nav-fixed-fixed .active:hover { border-bottom: 2px solid #666 }
#navbar { height: 70px; background: #fff; width: 100%; border-bottom: 1px solid #f2f2f2; top: 0!important; z-index: 9999 }
.nav-menu { position: relative; list-style: none; margin-top: 0; margin-right: 0px; margin-bottom: 0; padding: 0; z-index: 15; float: right; }
.nav-item { list-style: none; display: inline-block; padding-top: 25px; padding-right: 0px; padding-left: 20px; margin: 0; }
.nav-logo { float: left; padding: .7em 1em; }
li.nav-item.active a { border-bottom: 2px solid #191919 ; }
.nav-item > a { position: relative; display: inline-block; padding: 0; margin: 0 0 -1px 0; font-family: 'Archer SSm A', 'Archer SSm B', serif; color: #191919; text-decoration: none; text-transform: uppercase; font-size: 14px; }
.nav-item > a:focus,  .nav-item > a.open { }
.nav-item > a.open { background-color: #fff; border-bottom: none; z-index: 1; }
.sub-nav { position: absolute; display: none; top: 5em; margin-top: -1px; margin-left: -20px; padding-top: 20px; padding-right: 20px; padding-left: 20px; background-color: #000; max-width: 250px; border-top: 1px solid #FFFFFF; }
.sub-nav.open { display: block; }
.sub-nav ul { display: inline-block; vertical-align: top; margin: 0 1em 0 0; padding: 0; }
.sub-nav li { display: block; list-style-type: none; margin: 0 0 20px; padding: 0; }
.sub-nav li a { display: block; list-style-type: none; margin: 0; padding: 0; color: #FFFFFF!important; text-decoration: none; font-family: 'Archer SSm A', 'Archer SSm B', serif; }
.sub-nav li a:hover, .sub-nav li a:focus { color:#FFCC00!important; }
@-webkit-keyframes read-more {
0% {
bottom:70px
}
50% {
bottom:60px
}
100% {
bottom:70px
}
}
@-moz-keyframes read-more {
0% {
bottom:70px
}
50% {
bottom:60px
}
100% {
bottom:70px
}
}
@-o-keyframes read-more {
0% {
bottom:70px
}
50% {
bottom:60px
}
100% {
bottom:70px
}
}
@keyframes read-more {
0% {
bottom:70px
}
50% {
bottom:60px
}
100% {
bottom:70px
}
}
.fadeTop { top: -50px; opacity: 0; position: relative }
.fadeBottom { bottom: -50px; opacity: 0; position: relative }
.fadeLeft { left: -80px; opacity: 0; position: relative }
.fadeRight { right: -80px; opacity: 0; position: relative }
.fadeIn { opacity: 0; position: relative }
#page-loader { position: fixed; top: 0; left: 0; height: 100%; width: 100%; background: #fff; z-index: 9999 }
#page-loader img { margin: 100px auto; display: block }
.loader { text-align: center; margin: auto; position: absolute; top: 0; bottom: 0; left: 0; right: 0; height: 40px }
.loader span { display: block; font: 14px "myriad-pro", sans-serif; margin-bottom: 20px }
.spinner { margin: 0 auto; width: 40px; height: 40px; position: relative }
.container1>div, .container2>div, .container3>div { width: 7px; height: 7px; background-color: #191919; border-radius: 100%; position: absolute; -webkit-animation: bouncedelay 1.2s infinite ease-in-out; animation: bouncedelay 1.2s infinite ease-in-out; -webkit-animation-fill-mode: both; animation-fill-mode: both }
.spinner .spinner-container { position: absolute; width: 100%; height: 100% }
.container2 { -webkit-transform: rotateZ(45deg); transform: rotateZ(45deg) }
.container3 { -webkit-transform: rotateZ(90deg); transform: rotateZ(90deg) }
.circle1 { top: 0; left: 0 }
.circle2 { top: 0; right: 0 }
.circle3 { right: 0; bottom: 0 }
.circle4 { left: 0; bottom: 0 }
.container2 .circle1 { -webkit-animation-delay: -1.1s; animation-delay: -1.1s }
.container3 .circle1 { -webkit-animation-delay: -1s; animation-delay: -1s }
.container1 .circle2 { -webkit-animation-delay: -.9s; animation-delay: -.9s }
.container2 .circle2 { -webkit-animation-delay: -.8s; animation-delay: -.8s }
.container3 .circle2 { -webkit-animation-delay: -.7s; animation-delay: -.7s }
.container1 .circle3 { -webkit-animation-delay: -.6s; animation-delay: -.6s }
.container2 .circle3 { -webkit-animation-delay: -.5s; animation-delay: -.5s }
.container3 .circle3 { -webkit-animation-delay: -.4s; animation-delay: -.4s }
.container1 .circle4 { -webkit-animation-delay: -.3s; animation-delay: -.3s }
.container2 .circle4 { -webkit-animation-delay: -.2s; animation-delay: -.2s }
.container3 .circle4 { -webkit-animation-delay: -.1s; animation-delay: -.1s }
@-webkit-keyframes bouncedelay {
0%, 100%, 80% {
-webkit-transform:scale(0)
}
40% {
-webkit-transform:scale(1)
}
}
@keyframes bouncedelay {
0%, 100%, 80% {
transform:scale(0);
-webkit-transform:scale(0)
}
40% {
transform:scale(1);
-webkit-transform:scale(1)
}
}
.squaredTwo { width: 24px; height: 24px; position: absolute; border: 3px solid #fff; margin-top: 5px }
.squaredTwo label { width: 18px; height: 18px; cursor: pointer; position: absolute; left: 2px; top: 2px }
.squaredTwo label:after { content: ''; width: 9px; height: 5px; position: absolute; top: 3px; left: 3px; border: 3px solid #fcfff4; border-top: none; border-right: none; background: 0 0; filter: alpha(Opacity=0); opacity: 0; -moz-transform: rotate(-45deg); -ms-transform: rotate(-45deg); -webkit-transform: rotate(-45deg); transform: rotate(-45deg) }
.squaredTwo label:hover::after { filter: alpha(Opacity=30); opacity: .3 }
.squaredTwo input[type=checkbox] { visibility: hidden }
.squaredTwo input[type=checkbox]:checked+label:after { filter: alpha(enabled=false); opacity: 1 }
header { background: #fff }
#home { height: 700px; background-attachment: fixed!important; background-size: cover!important; color: #fff; position: relative; margin: 0 auto; text-align: center }
#home .logo-home { text-align: center; padding: 100px 0 }
#home .home-bg-container { height: 100%; width: 100%; position: absolute; z-index: 1; background-size: cover }
#home .overlay { position: relative; height: 100%; z-index: 6 }
#home .home-more { position: absolute; bottom: 70px; width: 100%; -webkit-animation: read-more 2s infinite; -moz-animation: read-more 2s infinite; -o-animation: read-more 2s infinite; animation: read-more 2s infinite }
#home .home-more .btn { margin: 0 auto; width: 150px }
#home .home-more .btn::after { font-family: FontAwesome; content: "\f103"; padding-left: 10px }
.home-content { position: relative; height: 100%; z-index: 6 }
.home-text { margin: auto; text-align: center; position: absolute; top: 0; left: 0; bottom: 0; right: 0; width: 100% }
.home-text .big-text { font-family: 'Archer SSm A', 'Archer SSm B', serif; font-size: 120px; line-height: 100px; display: block; padding: 0 0 20px; width: 100%; margin: 0 auto }
.home-text .small-text { display: block; width: 100%; margin: 0 auto; font: 14px "myriad-pro", sans-serif; color: #e6e6e6 }
.home-text .home-text-header { font: italic 700 28px 'Archer SSm A', 'Archer SSm B', serif; display: inline-block; margin-bottom: 10px }
#home-slider { margin: 0 }
#home-slider .flex-control-nav { bottom: -60px }
#home-slider .flex-control-paging li a.flex-active { background: #fff }
.home-slideshow-bg .slides, .home-slideshow-bg li { height: 100% }
.home-slideshow-bg li { background-size: cover!important }
.first-section { padding-top: 75px; z-index: 1; }
.el-gap { margin-bottom: 100px }
.section { padding: 50px 0; position: relative; background: #fff }
.section-diff { background: #f2f2f2 }
.section-bg-overlay::before { content: ""; position: absolute; width: 100%; height: 100%; background: rgba(0,0,0,.7); top: 0 }
.section-bg-overlay .container { position: relative }
.section-bg-overlay .small-header span { background: 0 0!important }
.section-bg-attached { background-attachment: fixed!important; background-size: cover!important }
.section-header { margin-bottom: 100px }
.section-header h1, .section-header h2, .section-header h3, .section-header h4, .section-header h5, .section-header h6 { font-family: 'Archer SSm A', 'Archer SSm B', serif; color: #191919; text-align: center; font-weight: 800; margin-top: 25px }
.section-header h1 span, .section-header h2 span, .section-header h3 span, .section-header h4 span, .section-header h5 span, .section-header h6 span { position: relative }
.section-header h1 span::after, .section-header h1 span::before, .section-header h2 span::after, .section-header h2 span::before, .section-header h3 span::after, .section-header h3 span::before, .section-header h4 span::after, .section-header h4 span::before, .section-header h5 span::after, .section-header h5 span::before, .section-header h6 span::after, .section-header h6 span::before { position: absolute; width: 4px; border-bottom: 75px solid #bb0e82; content: "" }
.section-header h1 span::before, .section-header h2 span::before, .section-header h3 span::before, .section-header h4 span::before, .section-header h5 span::before, .section-header h6 span::before { left: -15px }
.section-header h1 span::after, .section-header h2 span::after, .section-header h3 span::after, .section-header h4 span::after, .section-header h5 span::after, .section-header h6 span::after { right: -15px }
.section-header h1 span::after, .section-header h1 span::before { top: -25px }
.section-header h2 span::after, .section-header h2 span::before { top: 18px }
.section-header h3 span::after, .section-header h3 span::before { top: 14px }
.section-header h4 span::after, .section-header h4 span::before { top: 12px }
.section-header h5 span::after, .section-header h5 span::before { top: 10px }
.section-header h6 span::after, .section-header h6 span::before { top: 8.5px }
.section-header .header-desc::before { content: ""; border-bottom: none }
.header-desc span { font: 500 16px/19px 'Archer SSm A', 'Archer SSm B', serif; color: #666; width: 35%; text-align: center; display: block; margin: 0 auto }
.header-desc::before { content: ""; border-bottom: 2px solid #b2b2b2; position: absolute; width: 50px; left: 47.8%; top: 36px }
.sh-left h1, .sh-left h2, .sh-left h3, .sh-left h4, .sh-left h5, .sh-left h6 { text-align: left }
.sh-left h1 span::before, .sh-left h2 span::before, .sh-left h3 span::before, .sh-left h4 span::before, .sh-left h5 span::before, .sh-left h6 span::before { content: ""; border: none }
.sh-left .header-desc span { text-align: left; margin: 0 }
.section-header-c { margin-bottom: 100px }
.section-header-c h1 { font-family: 'Archer SSm A', 'Archer SSm B', serif; color: #191919; text-align: center; font-weight: 700; margin-top: 25px }
.section-header-c h1 span { position: relative }
.section-header-c h1 span::after, .section-header-c h1 span::before { position: absolute; width: 4px; border-bottom: 75px solid #00a3d8; content: "" }
.section-header-c h1 span::before { left: -15px }
.section-header-c h1 span::after { right: -15px }
.section-header-c h1 span::after, .section-header-c h1 span::before { top: -25px }
.section-header-c .header-desc::before { content: ""; border-bottom: none }
.section-header-p { margin-bottom: 50px }
.section-header-p h1 { font-family: 'Archer SSm A', 'Archer SSm B', serif; color: #191919; text-align: center; font-weight: 700; margin-top: 25px }
.section-header-p h1 span { position: relative }
.section-header-p h1 span::after, .section-header-p h1 span::before { position: absolute; width: 4px; border-bottom: 75px solid #6a2c9c; content: "" }
.section-header-p h1 span::before { left: -15px }
.section-header-p h1 span::after { right: -15px }
.section-header-p h1 span::after, .section-header-p h1 span::before { top: -25px }
.section-header-p .header-desc::before { content: ""; border-bottom: none }
.small-header { font: 18px 'Archer SSm A', 'Archer SSm B', serif; color: #191919; position: relative; margin: 0 0 35px }
.small-header::before { content: ""; position: absolute; border-bottom: 2px solid #b2b2b2; left: 0; width: 100%; z-index: 9; top: 9px }
.small-header span { background: #fff; padding-right: 10px; position: relative; z-index: 10 }
.section-diff .small-header span { background: #f2f2f2 }
.sh-center { text-align: center }
.sh-center::before { content: ""; border-bottom: none }
.sh-center span { padding: 0; background: 0 0!important }
.bottom-gap { margin-bottom: 50px }
.p-big-desc { font: 28px/30px 'Archer SSm A', 'Archer SSm B', serif }
.text-big-header { font: 36px/38px 'Archer SSm A', 'Archer SSm B', serif; color: #191919; margin-bottom: 25px; display: block }
.accent-color { color: #00a5d9 }
#page-header { background: url(img/home-bg.jpg) bottom center; background-size: cover!important; position: relative; background-attachment: fixed!important }
#page-header::before { content: ""; position: absolute; height: 100%; width: 100%; top: 0; background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, rgba(0,0,0,.1)), color-stop(40%, rgba(0,0,0,.1)), color-stop(100%, rgba(0,0,0,.4))); background-image: -webkit-linear-gradient(rgba(0,0,0,.1) 0, rgba(0,0,0,.1) 40%, rgba(0,0,0,.4) 100%); background-image: -moz-linear-gradient(rgba(0,0,0,.1) 0, rgba(0,0,0,.1) 40%, rgba(0,0,0,.4) 100%); background-image: -o-linear-gradient(rgba(0,0,0,.1) 0, rgba(0,0,0,.1) 40%, rgba(0,0,0,.4) 100%); background-image: linear-gradient(rgba(0,0,0,.1) 0, rgba(0,0,0,.1) 40%, rgba(0,0,0,.4) 100%) }
#page-header .container { position: relative; z-index: 1; height: 100% }
#page-header .page-nav { width: 100%; height: 70px; line-height: 70px }
#page-header .page-nav .btn-back-home { font: 14px sans-serif; color: #fff; text-decoration: none }
#page-header .page-nav .btn-back-home:hover { color: #e6e6e6 }
#page-header .page-nav .btn-back-home::before { content: "\f060\2003"; font: 12px FontAwesome; text-decoration: none }
#page-header .page-logo { width: 100%; text-align: center }
#page-header .section-header { margin: 0 }
#page-header .page-title { width: 100%; margin: 100px 0 }
#page-header .page-title .header-desc span, #page-header .page-title h1, #page-header .page-title h2, #page-header .page-title h3, #page-header .page-title h4, #page-header .page-title h5, #page-header .page-title h6 { color: #fff }
.page-content { background: url(img/map-bg.jpg) no-repeat center top #fff 50% -300px }
.page-content .section { background: 0 0 }
.jp-interface { position: relative; width: 100%; height: 70px; line-height: 70px; border: 2px solid #bfbfbf }
div.jp-controls-holder { clear: both; margin: 0 auto; position: relative; overflow: hidden }
a.jp-pause, a.jp-play { width: 75px; float: left; outline: 0; font-size: 30px; text-align: center }
a.jp-pause { display: none }
.jp-current-time, .jp-duration { font-size: 12px }
.jp-current-time { float: left; display: inline }
.jp-duration { float: left; display: inline; text-align: right }
.time-sep { float: left; margin: 0 5px; font-size: 11px }
.jp-mute { float: left; margin-left: 21px; font-size: 30px; outline: 0!important }
a.jp-unmute { float: left; margin-left: 21px; font-size: 30px; outline: 0 }
.jp-volume { float: right; width: 24% }
.jp-volume-bar { float: right; margin-right: 30px; overflow: hidden; width: 50%; height: 12px; cursor: pointer; background: #ccc; margin-top: 28px }
.jp-volume-bar-value { background: #00a5d9; width: 0; height: 100%; position: relative }
.jp-progress { background: #ccc; width: 55%; float: left; margin-top: 28px; margin-right: 15px; height: 12px }
.jp-seek-bar { width: 0; height: 100%; cursor: pointer }
.jp-play-bar { background: #00a5d9; width: 0; height: 100%; position: relative; z-index: 9999 }
footer { text-align: center; background: #191919; color: #fff; padding: 100px 20px; position: relative }
footer .back-to-top { position: absolute; width: 100%; top: -16px; padding-right: 35px }
footer .back-to-top .btn { width: 150px }
footer .back-to-top .btn::after { font-family: FontAwesome; content: "\f101"; padding-left: 10px }
footer .copyrights { line-height: 1.5em; max-width: 1000px; margin-left: auto; margin-right: auto; display: block; margin-top: 10px; font-weight: 500; font-family: 'Archer SSm A', 'Archer SSm B', serif; font-size: 11px }
footer .copyrights a { color: #fff; text-decoration: none; font-weight: 700; padding-left: 10px; padding-rightt: 10px }
.social-icons a { color: #fff; text-decoration: none; width: 35px; height: 35px; background: #ccc; padding: 12px; display: inline-block; margin: 0 3px 6px 0 }
.social-icons a:hover { color: #FFF!important }
.social-icons .fa-facebook:hover { background: #3B5998!important }
.social-icons .fa-twitter:hover { background: #3cf!important }
.social-icons .fa-pinterest:hover { background: #cb2027!important }
.social-icons .fa-github:hover { background: #000!important }
.social-icons .fa-linkedin:hover { background: #007bb6!important }
.social-icons .fa-dribbble:hover { background: #EE508D!important }
.social-icons .fa-rss:hover { background: #FF6200!important }
.social-icons .fa-behance:hover { background: #009CEC!important }
.social-icons .fa-google-plus:hover { background: #dd4b39!important }
.social-icons .fa-youtube:hover { background: #b00!important }
.social-icons .fa-vimeo-square:hover { background: #4bf!important }
.social-icons .fa-flickr:hover { background: #ff0084!important }
.social-icons .fa-skype:hover { background: #00AFF0!important }
.social-icons .fa-instagram:hover { background: #517fa4!important }
.social-icons .fa-tumblr:hover { background: #00225F!important }
.btn { font-family: "myriad-pro", sans-serif; color: #fff; background: #00a5d9; text-shadow: none; border: none; -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; -o-border-radius: 0; border-radius: 0; font-size: 13px; margin-bottom: 3px; text-decoration: none }
.btn.active, .btn.disabled, .btn:active, .btn:focus, .btn:hover, .btn[disabled] { color: #fff; background-color: #191919 }
.btn:focus, .btn:hover { outline: 0; color: #fff; text-decoration: none }
.btn-lg { font-size: 13px; padding: 12px }
.btn-xs { font-size: 13px }
.btn-primary { color: #fff; text-shadow: none; background-color: #00a5d9; border-color: none }
.btn-danger.active, .btn-danger.disabled, .btn-danger:active, .btn-danger:focus, .btn-danger:hover, .btn-danger[disabled], .btn-info.active, .btn-info.disabled, .btn-info:active, .btn-info:focus, .btn-info:hover, .btn-info[disabled], .btn-primary.active, .btn-primary.disabled, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .btn-primary[disabled], .btn-success.active, .btn-success.disabled, .btn-success:active, .btn-success:focus, .btn-success:hover, .btn-success[disabled], .btn-warning.active, .btn-warning.disabled, .btn-warning:active, .btn-warning:focus, .btn-warning:hover, .btn-warning[disabled] { color: #fff; background-color: #191919!important }
.btn-warning { text-shadow: none; background-color: #faa732!important; background-image: none; border-color: none }
.btn-warning.active, .btn-warning:active { background-color: #faa732 \9!important }
.btn-danger { text-shadow: none; background-color: #da4f49!important; background-image: none; border-color: none }
.btn-danger.active, .btn-danger:active { background-color: #da4f49 \9!important }
.btn-success { text-shadow: none; background-color: #5bb75b!important; background-image: none; border-color: none }
.btn-success.active, .btn-success:active { background-color: #5bb75b \9!important }
.btn-info { text-shadow: none; background-color: #49afcd!important; background-image: none; border-color: none }
.btn-info.active, .btn-info:active { background-color: #49afcd \9!important }
.btn-inverse { color: #fff; text-shadow: none; background-color: #191919!important; background-image: none; border-color: none }
.btn-inverse.active, .btn-inverse.disabled, .btn-inverse:active, .btn-inverse:focus, .btn-inverse:hover, .btn-inverse[disabled] { color: #fff; background-color: #191919!important }
.btn-inverse.active, .btn-inverse:active { background-color: #191919 \9!important }
.btn-link, .btn-link:active, .btn-link[disabled] { background-color: transparent!important; background-image: none; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none }
.btn-link { border-color: transparent; cursor: pointer; color: #191919; -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0 }
.btn-link:focus, .btn-link:hover { color: #666!important; text-decoration: underline; background-color: transparent }
.nav-tabs { border: none }
.nav-tabs>li>a { margin-right: 1px; border: none; -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; -o-border-radius: 0; border-radius: 0; padding: 15px 20px; font: 14px "myriad-pro", sans-serif; text-decoration: none }
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover { color: #191919; cursor: default; background-color: #f2f2f2; border: none }
.section-diff .nav-tabs>li.active>a, .section-diff .nav-tabs>li.active>a:focus, .section-diff .nav-tabs>li.active>a:hover { background-color: #fff }
.tab-content { padding: 20px; background-color: #f2f2f2 }
.section-diff .tab-content { background-color: #fff }
.tab-content p { margin: 0 }
.nav>li>a:focus, .nav>li>a:hover { background-color: #f2f2f2; border: none }
.section-diff .nav>li>a:focus, .section-diff .nav>li>a:hover { background-color: #fff }
.panel { -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; border: none; background: #f2f2f2 }
.section-diff .panel { background: #fff }
.panel-body { padding: 20px }
.panel-group .panel { -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; -o-border-radius: 0; border-radius: 0 }
.panel-heading { padding: 0 }
.panel-heading a { padding: 15px 20px; display: block; font: 14px "myriad-pro", sans-serif; text-decoration: none }
.panel-default>.panel-heading { background: #f2f2f2; color: #191919 }
.section-diff .panel-default>.panel-heading { background: #fff }
.panel-default>.panel-heading+.panel-collapse .panel-body { border-top: 1px dashed #d9d9d9 }
.progress { height: 30px; margin-bottom: 15px; background-color: #f2f2f2; -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; -o-border-radius: 0; border-radius: 0; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none }
.section-diff .progress { background-color: #fff }
.progress-bar { font: 13px "myriad-pro", sans-serif; line-height: 30px; color: #fff; text-align: right; background-color: #970e76; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; padding: 0 10px }
.st-content, .st-content-inner { position: relative; -webkit-transition: -webkit-transform .5s; -moz-transition: -moz-transform .5s; -o-transition: -o-transform .5s; transition: transform .5s; background: #fff }
.st-container { position: relative; overflow: hidden }
.st-pusher { position: relative; left: 0; z-index: 99; height: 100%; -webkit-transition: -webkit-transform .5s; -moz-transition: -moz-transform .5s; -o-transition: -o-transform .5s; transition: transform .5s; overflow: hidden; }
.st-pusher:after { position: absolute; top: 0; right: 0; width: 0; height: 0; background: rgba(0,0,0,.2); content: ''; opacity: 0; -webkit-transition: opacity .5s, width .1s, height .1s; -webkit-transition-delay: 0s, .5s, .5s; -moz-transition: opacity .5s, width .1s .5s, height .1s .5s; -o-transition: opacity .5s, width .1s .5s, height .1s .5s; transition: opacity .5s, width .1s .5s, height .1s .5s }
.st-menu { position: fixed; top: 0; right: 0; z-index: 100; visibility: hidden; width: 300px; height: 100%; background: #191919; -webkit-transition: all .5s; transition: all .5s }
.st-menu:after { position: absolute; top: 0; right: 0; width: 100%; height: 100%; background: rgba(0,0,0,.2); content: ''; opacity: 1; -webkit-transition: opacity .5s; -moz-transition: opacity .5s; -o-transition: opacity .5s; transition: opacity .5s }
.st-menu-open .st-pusher::after { width: 100%; height: 100%; opacity: 1; z-index: 999; -webkit-transition: opacity .5s; -moz-transition: opacity .5s; -o-transition: opacity .5s; transition: opacity .5s }
.st-menu-open .st-menu::after { width: 0; height: 0; opacity: 0; -webkit-transition: opacity .5s, width .1s, height .1s; -webkit-transition-delay: 0s, .5s, .5s; -moz-transition: opacity .5s, width .1s .5s, height .1s .5s; -o-transition: opacity .5s, width .1s .5s, height .1s .5s; transition: opacity .5s, width .1s .5s, height .1s .5s }
#st-trigger-effects { position: absolute; top: 0; right: 30px; z-index: 9999999; display: block; padding-top: 25px }
#st-trigger-effects a { font: 16px 'Archer SSm A', 'Archer SSm B', serif; text-decoration: none; color: #191919; text-transform: uppercase }
#st-trigger-effects a i { padding-left: 5px }
.trigger-fixed { position: fixed!important }
.st-menu ul { padding: 0; list-style: none; margin-top: 20px; margin-right: 0; margin-bottom: 20px; margin-left: 0; }
.st-menu ul li a { display: block; padding: 7px 25px; color: #fff; font: 14px 'Archer SSm A', 'Archer SSm B', serif; text-transform: uppercase; text-decoration: none; -webkit-transition: all .3s; -moz-transition: all .3s; -o-transition: all .3s; transition: all .3s }
.st-menu ul li a i { font-size: 11px; padding-left: 8px }
.st-menu ul li a:hover { background: #000; color: #fff }
.st-menu ul li .active { background: #000 }
.st-menu-logo { margin: 40px 25px }
.st-effect-2.st-menu-open .st-pusher { -webkit-transform: translate3d(-300px, 0, 0); -moz-transform: translate3d(-300px, 0, 0); -ms-transform: translate3d(-300px, 0, 0); -o-transform: translate3d(-300px, 0, 0); transform: translate3d(-300px, 0, 0) }
.st-effect-2.st-menu { z-index: 1 }
.st-effect-2.st-menu:after { display: none }
.st-effect-2.st-menu-open .st-effect-2.st-menu { visibility: visible; -webkit-transition: -webkit-transform .5s; -moz-transition: -moz-transform .5s; -o-transition: -o-transform .5s; transition: transform .5s }
.no-csstransforms3d .st-effect-2.st-menu-open .st-pusher, .no-js .st-effect-2.st-menu-open .st-pusher { padding-right: 300px }
.learnmore-box-2 .lightbulb-2 h3, .learnmore-box-3 h3 { font-family: "myriad-pro", sans-serif; font-style: italic; color: #006991; margin-top: 0; margin-bottom: 5px; font-size: 22px }
.lightbulb-2 { font-size: 14px }
.lightbulb-2 img { float: right; padding-left: 10px; padding-bottom: 10px }
.learnmore-box { margin-top: 20px; margin-bottom: 20px; max-width: 360px }
.learnmore-box, .learnmore-box-2, .learnmore-box-3, .learnmore-box-4, .smgreybox { font: 14px "myriad-pro", sans-serif; color: #000; padding: 20px; float: right; background: #c4c4c4; background: -moz-linear-gradient(left, #c4c4c4 0, #f2f2f2 100%); background: -webkit-gradient(linear, left top, right top, color-stop(0%, #c4c4c4), color-stop(100%, #f2f2f2)); background: -webkit-linear-gradient(left, #c4c4c4 0, #f2f2f2 100%); background: -o-linear-gradient(left, #c4c4c4 0, #f2f2f2 100%); background: -ms-linear-gradient(left, #c4c4c4 0, #f2f2f2 100%); background: linear-gradient(to right, #c4c4c4 0, #f2f2f2 100%); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c4c4c4', endColorstr='#f2f2f2', GradientType=1);
line-height: 1.3em }
.learnmore-box-3 { margin-bottom: -100px; width: 250px!important; z-index: 2 }
.learnmore-box a, .learnmore-box-2 a, .learnmore-box-3 a { text-decoration: none; font-weight: 700 }
.learnmore-box .lightbulb h3, .learnmore-box-3 h3, .learnmore-box-4 h3 { font-family: "myriad-pro", sans-serif; font-style: italic!important; color: #006991!important; margin-top: 0; margin-bottom: 5px; font-size: 22px!important }
.lightbulb { padding-right: 110px; background-image: url(img/bubble-lightbulb.png); background-position: right; background-repeat: no-repeat; min-height: 105px; font-size: 14px }
.learnmore-box-4 { margin-top: 40px; margin-right: 200px; margin-bottom: -50px; width: 520px; z-index: 2 }
.iconbox { text-align: right; padding-right: 100px; padding-bottom: 10px }
#stickySideBar { background: #F7F7F7; padding-left: 3px; width: 40px; margin-top: 0; margin-right: 0; margin-bottom: 0; border-bottom: 1px solid #ddd;  }
#stickyBar { position: fixed; margin-left: 0px; float: left; bottom: 45%; z-index: 4; }
.sidesocial { width: 33px; height: 33px; }

@media only screen and (max-width:1240px) {
#box1 { float: none; height: 218px; margin-left: auto; margin-top: 0; clear: both; width: 100%; position: relative }
#box2 { float: left; height: auto; margin-left: 0; margin-top: 0; clear: none; width: 33.33%; padding: 40px }
#text2 { float: left; font-size: 1.5em; width: 100%; height: auto; text-align: left; font-weight: 400; line-height: 1.3em; margin-left: auto; margin-top: 0; clear: none; min-height: 170px; padding: 3px 3px 3px 20px; font-family: 'Archer SSm A', 'Archer SSm B', serif; color: #007392; border-left-color: #007392; border-left-width: 1px; border-left-style: solid; min-width: 0; margin-right: auto }
#textspan { float: none; font-size: 1.1em; line-height: 1.4em }
#box3 { float: left; height: 282px; margin-left: 0; margin-top: 0; clear: none; width: 33.33%; padding: 40px }
#text3 { float: left; font-size: 1.5em; width: 100%; height: auto; text-align: left; font-weight: 400; line-height: 1.3em; margin-left: auto; margin-top: 0; clear: none; min-height: 202px; padding: 3px 3px 3px 20px; font-family: 'Archer SSm A', 'Archer SSm B', serif; color: #007392; border-left-color: #007392; border-left-width: 1px; border-left-style: solid; min-width: 0; margin-right: auto }
#textspan2 { float: none; font-size: 1.1em; line-height: 1.4em }
#box4 { float: left; height: 282px; margin-left: 0; margin-top: 0; clear: none; width: 33.33%; padding: 40px }
#text4 { float: left; font-size: 1.5em; width: 100%; height: auto; text-align: left; font-weight: 400; line-height: 1.3em; margin-left: auto; margin-top: 0; clear: none; min-height: 202px; padding: 3px 3px 3px 20px; font-family: 'Archer SSm A', 'Archer SSm B', serif; color: #007392; border-left-color: #007392; border-left-width: 1px; border-left-style: solid; min-width: 0; margin-right: auto }
#textspan4 { float: none; font-size: 1.1em; line-height: 1.4em }
}

@media (max-width:991px) {
.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 { margin-bottom: 50px }
.si-desc { margin: 30px -15px -15px }
.header-desc span { width: 50% }
.team-member-big:hover .team-member-overlay h5 { bottom: 55% }
.team-member-big p { display: none }
.team-member-big .team-member-overlay .social-icons a { height: 25px; width: 25px; padding: 6px }
.team-member-big, .team-member-small { margin-bottom: 40px }
.devices { height: 300px }
.portfolio-item { width: 33.333% }
.sidebar { margin-top: 30px }
.jp-volume { width: 20% }
.jp-volume-bar { width: 35% }
.comment-container .avatar img { width: 45px }
#page-header .page-title h1 span::after, #page-header .page-title h2 span::after, #page-header .page-title h3 span::after, #page-header .page-title h4 span::after, #page-header .page-title h5 span::after, #page-header .page-title h6 span::after { border: none }
#page-header .header-desc span { width: 100% }
.bottom-gap, .resp-no-gap { margin-bottom: 0 }
.home-text .big-text { font-size: 80px; line-height: 66.67px }
.trigger-fixed { position: absolute!important }
#box1 { margin-top: 0; clear: none; margin-left: auto; height: 218px; margin-right: auto }
#box2 { margin-top: 0; margin-left: 0; clear: none; padding: 20px; width: 256px; margin-right: 0; float: left }
#text2 { float: left; font-size: 1.5em; width: 100%; height: auto; text-align: left; font-weight: 400; line-height: 1.3em; margin-left: auto; margin-top: 0; clear: none; min-height: 170px; padding: 3px 3px 3px 20px; font-family: 'Archer SSm A', 'Archer SSm B', serif; color: #007392; border-left-color: #007392; border-left-width: 1px; border-left-style: solid; min-width: 0; margin-right: auto }
#textspan { float: none; font-size: 1.1em; line-height: 1.4em }
#box3 { float: left; height: 282px; margin-left: 0; margin-top: 0; clear: none; width: 33.33%; padding: 40px }
#text3 { float: left; font-size: 1.5em; width: 100%; height: auto; text-align: left; font-weight: 400; line-height: 1.3em; margin-left: auto; margin-top: 0; clear: none; min-height: 202px; padding: 3px 3px 3px 20px; font-family: 'Archer SSm A', 'Archer SSm B', serif; color: #007392; border-left-color: #007392; border-left-width: 1px; border-left-style: solid; min-width: 0; margin-right: auto }
#textspan2 { float: none; font-size: 1.1em; line-height: 1.4em }
#box4 { float: left; height: 282px; margin-left: 0; margin-top: 0; clear: none; width: 33.33%; padding: 40px }
#text4 { float: left; font-size: 1.5em; width: 100%; height: auto; text-align: left; font-weight: 400; line-height: 1.3em; margin-left: auto; margin-top: 0; clear: none; min-height: 202px; padding: 3px 3px 3px 20px; font-family: 'Archer SSm A', 'Archer SSm B', serif; color: #007392; border-left-color: #007392; border-left-width: 1px; border-left-style: solid; min-width: 0; margin-right: auto }
#textspan4 { float: none; font-size: 1.1em; line-height: 1.4em }
.idea { display: none }
.learnmore-box-3 h3 { margin-top: 0!important; margin-bottom: 10px!important; width: auto!important }
.learnmore-box-3 { margin-top: 20px; margin-bottom: 0; margin-right: 0; width: 100%; z-index: 2 }
.learnmore-box-4 { margin-top: 20px; margin-right: 0; margin-bottom: 0; width: 100%; z-index: 2 }
}

@media only screen and (max-width:768px) {
.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 { margin-bottom: 50px }
.story-item-content { width: 80% }
.si-year::after { display: none }
.story-item:nth-child(even) .story-item-content .si-year { left: -30px }
.story-item:nth-child(odd) .story-item-content .si-year { right: -30px }
.si-desc { margin: 15px -15px -15px }
.bottom-gap, .resp-no-gap { margin-bottom: 0 }
.goto-blog .btn, .portfolio-item { width: 50% }
.home-text .big-text { font-size: 60px; line-height: 50px }
#box1 { margin-top: 0; clear: none; margin-left: auto; height: 218px; margin-right: auto }
#box2 { margin-top: 0; margin-left: 0; clear: none; padding: 20px; width: 256px; margin-right: 0; float: left }
#textspan { font-size: 1.2em; line-height: 1.5em }
#text2 { min-height: 158px; font-size: 1em; line-height: 1em; height: auto; margin-left: auto; margin-right: auto }
#box3 { margin: 0; clear: none; padding: 20px; width: 256px; float: left; height: auto }
#text3 { min-height: 158px; font-size: 1em; line-height: 1em; height: auto; margin-left: auto; margin-right: auto }
#textspan2 { font-size: 1.2em; line-height: 1.5em }
#textspan1, #textspan3 { float: none; font-size: 1em; line-height: 1.5em }
#box4 { margin: 0; clear: none; padding: 20px; width: 256px; float: left; height: auto }
#text4 { min-height: 158px; font-size: 1em; line-height: 1em; height: auto; margin-left: auto; margin-right: auto }
#textspan4 { font-size: 1.2em; line-height: 1.5em }
#textspan5 { float: none; font-size: 1em; line-height: 1.5em }
.section-header h1 span, .section-header h2 span, .section-header h3 span, .section-header h4 span, .section-header h5 span, .section-header h6 span { font-size: 18px!important }
.section-header h1 span::after, .section-header h1 span::before { top: -50px }
.section-header-p h1 span { font-size: 18px!important }
.section-header-p h1 span::after, .section-header-p h1 span::before { top: -50px }
.section-header-c h1 span { font-size: 18px!important }
.section-header-c h1 span::after, .section-header-c h1 span::before { top: -50px }
.idea { display: none }
.learnmore-box-3 h3 { margin-top: 0!important; margin-bottom: 10px!important; width: auto!important }
.learnmore-box-3 { margin-top: 20px; margin-bottom: 0; margin-right: 0; width: 100%; z-index: 2 }
.learnmore-box-4 { margin-top: 20px; margin-right: 0; margin-bottom: 20px; width: 100%; z-index: 2 }
.home-more { display: none }
}

@media only screen and (max-width:480px) {
.studentbox { display: none }
.section { padding: 10px 0!important }
.welcome-overlay { margin-left: 0!important; top: 100%!important; -webkit-border-radius: 0!important; -moz-border-radius: 0!important; border-radius: 0!important }
.welcome2-overlay { width: 100%!important; margin-left: 0!important; top: 100%!important }
.letter { padding: 140px 20px 20px!important }
.executive-info { padding-left: 0!important }
#box1 { margin-top: 0; clear: none; margin-left: auto; height: 218px; margin-right: auto }
#box2 { width: 480px; position: relative; top: 0; left: 0; margin-left: 0; margin-right: 0; float: left; clear: both }
#box3 { margin-top: 0; margin-left: 0; clear: both; width: 480px; position: relative; top: 0; left: 0; height: auto }
#box4 { margin-top: 0; margin-left: 0; clear: both; width: 480px; height: auto; position: relative; top: 0; left: 0 }
#text2 { height: auto; min-height: 0; margin-left: auto; margin-right: auto; width: 100% }
#text3 { height: auto; min-height: 83px; margin-left: auto; margin-right: auto; width: 100% }
#text4 { height: auto; min-height: 0; margin-left: auto; margin-right: auto; width: 100% }
.section-header h1 span, .section-header h2 span, .section-header h3 span, .section-header h4 span, .section-header h5 span, .section-header h6 span { font-size: 18px!important }
.section-header h1 span::after, .section-header h1 span::before { top: -50px }
.section-header-p h1 span { font-size: 18px!important }
.section-header-p h1 span::after, .section-header-p h1 span::before { top: -50px }
.section-header-c h1 span { font-size: 18px!important }
.section-header-c h1 span::after, .section-header-c h1 span::before { top: -50px }
.learnmore-box-3 h3 { margin-top: 0!important; margin-bottom: 10px!important; width: auto!important }
.learnmore-box-3 { margin-top: 20px; margin-bottom: 0; margin-right: 0; width: 100%; z-index: 2 }
.learnmore-box-4 { margin-top: 20px; margin-right: 0; margin-bottom: 20px; width: 100%; z-index: 2 }
.home-more { display: none }
}
