.p-cover {
    $top_bkgr: '../images/bkgr/MV_1013_7899.jpg';

    @import '_cover';
}
.p-credit {
    $top_bkgr: '../images/bkgr/8152_0211.jpg';

    @import '_credit';
}
.p-parents {
    $top_bkgr: '../images/bkgr/2002_00425.jpg';

    @import '_parents';
}
.p-students {
    $top_bkgr: '../images/bkgr/MV_1013_4181.jpg';

    @import '_students';
    @import '_students_misc';
}
.p-video {
    @import '_video';
}
.externals .note {
    color: #666;
}