.home-bg-container {
    background: url($top_bkgr) center top;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 5;
}
#logoBox {
    float: left;
    padding-left: 60px;
    padding-top: 60px;
    text-align: left;
    width: 160px;
    z-index: 4;
    img {
        height: 100px;
        width: 100px;
    }
}
#box {
    padding-right: 75px;
    position: absolute;
    top: 44px;
    width: 100%;
    z-index: 5;
    h1 {
        color: #b10000;
        font-family: $serif;
        font-size: 6.2em;
        font-style: normal;
        font-weight: 700;
        margin: 0;
        text-align: right;
        sup {
            font-size: 50%;
            line-height: 0;
            position: relative;
            top: -1em;
            vertical-align: baseline;
        }
    }
}
#mag {
    padding-right: 475px;
    position: absolute;
    text-align: right;
    top: 134px;
    width: 100%;
    z-index: 6;
    h2 {
        color: black;
        font-family: $serif;
        font-size: 3.2em;
        font-weight: 400;
        margin-top: 0;
        text-align: right;
    }
}
.welcome-overlay {
    margin-left: 60%;
    position: absolute;
    top: 88%;
    vertical-align: middle;
    width: 350px;
    &.back {
        background: $blue2;
        background: -moz-linear-gradient(top,$blue2 0,$blue1 100%);
        background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,$blue2),color-stop(100%,$blue1));
        background: -webkit-linear-gradient(top,$blue2 0,$blue1 100%);
        background: -o-linear-gradient(top,$blue2 0,$blue1 100%);
        background: -ms-linear-gradient(top,$blue2 0,$blue1 100%);
        background: linear-gradient(to bottom,$blue2 0,$blue1 100%);
        border-radius: 15px;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$blue2',endColorstr='$blue1',GradientType=0);
        height: 100px;
        opacity: .9;
        padding: 20px;
        z-index: 2;
    }
    &.fore {
        height: auto;
        opacity: 1;
        padding: 15px;
        z-index: 3;
        h1 {
            color: white !important;
            font-family: $sans;
            font-size: 26px;
            font-style: italic;
            font-weight: 600;
            line-height: 1.3em;
        }
    }
}
.letter {
    font-size: 16px;
    padding: 50px;
}
.executive {
    float: left;
    height: 113px;
    width: 75px;
}
.executive-info {
    float: left;
    font-weight: 300;
    height: 93px;
    line-height: 1.5em;
    padding-left: 15px;
    padding-top: 20px;
    width: 350px;
}
.letter a {
    font-weight: 700;
    text-decoration: none;
    &:hover {
        color: rgba(51,51,51,.7);
    }
}
@media(max-width:991px) {
    #logoBox {
        padding-left: 0;
        padding-right: 0;
        padding-top: 25px;
        text-align: center;
        width: 100%;
        img {
            height: 70px;
            width: 70px;
        }
    }
    #box {
        padding-right: 0;
        top: 104px;
        h1 {
            font-size: 4em;
            text-align: center;
        }
    }
    #mag {
        padding-right: 0;
        text-align: center;
        top: 165px;
        h2 {
            font-size: 2.8em;
            text-align: center;
        }
    }
    .col-sm-1,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,
    .col-sm-7,.col-sm-8,.col-sm-9,.col-sm-10,.col-sm-11,.col-sm-12 {
        margin-bottom: 50px;
    }
    .si-desc {
        margin: 30px -15px -15px;
    }
    .header-desc span {
        width: 50%;
    }
    .team-member-big:hover .team-member-overlay h5 {
        bottom: 55%;
    }
    .team-member-big p {
        display: none;
    }
    .team-member-big .team-member-overlay .social-icons a {
        height: 25px;
        padding: 6px;
        width: 25px;
    }
    .team-member-big,.team-member-small {
        margin-bottom: 40px;
    }
    .devices {
        height: 300px;
    }
    .portfolio-item {
        width: 33.333%;
    }
    .sidebar {
        margin-top: 30px;
    }
    .jp-volume {
        width: 20%;
    }
    .jp-volume-bar {
        width: 35%;
    }
    .comment-container .avatar img {
        width: 45px;
    }
    .bottom-gap,.resp-no-gap {
        margin-bottom: 0;
    }
    .trigger-fixed {
        position: absolute !important;
    }
    .welcome-overlay {
        margin-left: 45% !important;
        top: 75% !important;
    }
}
@media only screen and (max-width:768px) {
    #logoBox {
        padding-left: 0;
        padding-right: 0;
        padding-top: 25px;
        text-align: center;
        width: 100%;
        img {
            height: 70px;
            width: 70px;
        }
    }
    #box {
        padding-right: 0;
        top: 104px;
        h1 {
            font-size: 4em;
            text-align: center;
        }
    }
    #mag {
        padding-right: 0;
        text-align: center;
        top: 165px;
        h2 {
            font-size: 2.8em;
            text-align: center;
        }
    }
    .col-sm-1,.col-xs-1,.col-sm-2,.col-xs-2,.col-sm-3,.col-xs-3,.col-sm-4,.col-xs-4,
    .col-sm-5,.col-xs-5,.col-sm-6,.col-xs-6,.col-sm-7,.col-xs-7,.col-sm-8,.col-xs-8,
    .col-sm-9,.col-xs-9,.col-sm-10,.col-xs-10,.col-sm-11,.col-xs-11,.col-sm-12,.col-xs-12 {
        margin-bottom: 50px;
    }
    .story-item-content {
        width: 80%;
    }
    .si-year::after {
        display: none;
    }
    .story-item:nth-child(even) .story-item-content .si-year {
        left: -30px;
    }
    .story-item:nth-child(odd) .story-item-content .si-year {
        right: -30px;
    }
    .si-desc {
        margin: 15px -15px -15px;
    }
    .bottom-gap,.resp-no-gap {
        margin-bottom: 0;
    }
    .portfolio-item {
        width: 50%;
    }
    .goto-blog .btn {
        width: 50%;
    }
    .welcome-overlay {
        height: 90px;
        margin-left: 0 !important;
        top: 100% !important;
        width: 100% !important;
        &.back {
            border-radius: 0 !important;
        }
        &.fore {
            h1 {
                font-size: 22px;
            }
        }
    }
    .letter {
        padding: 140px 20px 20px !important;
    }
}
@media only screen and (max-width:480px) {
    #logoBox {
        padding-left: 0;
        padding-right: 0;
        padding-top: 25px;
        text-align: center;
        width: 100%;
        img {
            height: 70px;
            width: 70px;
        }
    }
    #box {
        padding-right: 0;
        top: 104px;
        h1 {
            font-size: 4em;
            text-align: center;
        }
    }
    #mag {
        padding-right: 0;
        text-align: center;
        top: 165px;
        h2 {
            font-size: 2.8em;
            text-align: center;
        }
    }
    .welcome-overlay {
        height: 90px;
        margin-left: 0 !important;
        top: 100% !important;
        width: 100% !important;
        &.back {
            border-radius: 0 !important;
        }
        &.fore {
            h1 {
                font-size: 22px;
            }
        }
    }
    .letter {
        padding: 140px 20px 20px !important;
    }
    .executive-info {
        padding-left: 0 !important;
    }
}
