.home-bg-container {
    background: url($top_bkgr) center top;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 5;
}
.home-content {
    margin-bottom: 50px;
    h1 {
        color: $gray3;
        font-family: $serif;
        font-weight: 700;
        margin-top: 25px;
        text-align: center;
        span {
            position: relative;
            &::after, &::before {
                border-bottom: 75px solid $purple2;
                content: '';
                position: absolute;
                width: 4px;
            }
            &::before { left: -15px; }
            &::after { right: -15px; }
            &::after, &::before { top: -25px; }
        }
    }
}
.parent-box {
    bottom: 200px;
    position: absolute;
    width: 100%;
    div {
        background-color: transparentize($purple3, 0.1);
        font-family: $serif;
        font-size: 18px;
        font-weight: 100;
        margin-left: auto;
        margin-right: auto;
        max-width: 700px;
        padding: 33px;
        text-align: left;
        width: 70%;
        h3 {
            color: white;
            font-size: 21px;
            font-weight: 500;
        }
        p {
            margin-bottom: 0;
            margin-top: 10px;
        }
    }
}
/* 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 */
.parent1 {
    header {
        h1 {
            color: #a0006a;
            font-family: $sans;
            font-size: 69px;
            font-style: normal;
            font-weight: 600;
            margin-bottom: 0;
            margin-top: 0;
            span {
                color: black;
                font-weight: 100;
                line-height: 0.8;
                margin-left: 3em;
                vertical-align: super;
            }
        }
        h2, h3 {
            color: black;
            font-family: $sans;
            font-size: 32px;
            font-style: normal;
            font-weight: 100;
            text-align: left;
        }
        h3 {
            color: $blue1;
            font-size: 26px;
        }
    }
    h2 {
        color: $plum1;
        font-family: $serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        margin-bottom: 20px;
        margin-top: 0;
    }
    p strong {
        color: $orange3;
    }
    ul {
        padding-left: 20px;
        li {
            padding-bottom: 10px;
        }
    }
}
/* 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 */
.parent2 {
    header {
        h1 {
            border-bottom: 2px solid black;
            color: $blue1;
            font-family: $sans_cn;
            font-size: 100px;
            font-style: normal;
            font-weight: 400;
            line-height: 80px;
            margin-bottom: 20px;
            padding: 20px 15px;
            text-transform: uppercase;
            z-index: 2;
            span {
                color: black;
                font-family: $sans;
                font-size: 60px;
                font-style: italic;
                font-weight: 100;
                margin-left: 1em;
                text-transform: none;
            }
        }
    }
    ul {
        margin-top: 50px;
        li {
            color: black;
            font-family: $serif;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            padding-bottom: 20px;
            a {
                color: black;
                font-weight: 600;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
            span {
                color: $purple1;
                font-family: $sans_cn;
                font-size: 24px;
                font-weight: 600;
            }
        }
    }
    .callout-g {
        background-color: transparentize($blue1, 0.9);
        margin-top: 20px;
        padding: 10px 0 0;
        position: relative;
        p {
            color: black;
            font-family: $sans;
            font-size: 21px;
            font-style: normal;
            font-weight: 100;
            padding: 10px 30px 10px;
            strong {
                font-size: 36px;
                font-weight: 100;
            }
        }
    }
    .arrows-right {
        background-color: $blue1;
        bottom: -4em;
        height: 42px;
        position: absolute;
        right: 1em;
        img { float: right; }
    }
    ul.fa-ul li {
        font-size: 16px;
        padding-bottom: 10px;
    }
}
/* 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 */
.parent3 {
    header {
        h2 {
            color: $red2;
        }
    }
    .checklist div {
        h3 {
            color: black;
            font-family: $serif;
            font-size: 18px;
            font-weight: 700;
            margin: 0;
        }
        h4 {
            color: $orange3;
            font-family: $serif;
            font-size: 18px;
            font-weight: 700;
            margin-top: 20px;
            text-transform: uppercase;
        }
    }
    .checklist-item {
        font-size: 16px;
        padding-bottom: 20px;
        a {
            font-weight: 700;
            text-decoration: none;
        }
    }
    .parentCheckbox {
        border: 2px solid black;
        height: 18px;
        margin-top: 5px;
        position: absolute;
        width: 18px;
        label {
            cursor: pointer;
            height: 17px;
            left: 0;
            position: absolute;
            top: 1px;
            width: 17px;
            &::after {
                @include transform( rotate(-45deg) );
                background: 0;
                border: 2px solid black;
                border-right: 0;
                border-top: 0;
                content: '';
                filter: alpha(opacity=0);
                height: 5px;
                left: 3px;
                opacity: 0;
                position: absolute;
                top: 3px;
                width: 9px;
            }
            &:hover::after {
                filter: alpha(opacity=30);
                opacity: .3;
            }
        }
        input[type=checkbox] {
            visibility: hidden;
            &:checked+label::after {
                filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
                opacity: 1;
            }
        }
    }
    h1 {
        color: black;
        font-family: $sans;
        font-size: 60px;
        font-variant: normal;
        font-weight: 300;
        margin-bottom: 50px;
        text-align: center;
    }
    h2 {
        color: black;
        font-family: $sans;
        font-size: 20px;
        font-variant: normal;
        font-weight: 400;
        line-height: 2em;
        padding: 20px;
        text-align: center;
    }
    .topbott {
        margin-top: 40px;
    }
}
/* 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 */
.parent4 {
    .money-icon {
        background-image: url('../images/icon/money-icon.png');
        background-position: top right;
        background-repeat: no-repeat;
        background-size: 150px 250px;
    }
    .journey-icon {
        text-align: right;
    }
    header {
        h1 {
            color: #093;
            font-family: $sans;
            font-size: 40px;
            font-style: normal;
            font-weight: 400;
            text-align: left;
            span {
                color: black;
                display: block;
                font-family: $sans_cn;
                font-style: normal;
                font-weight: 700;
                margin-bottom: 10px;
                text-align: left;
                text-transform: uppercase;
            }
        }
        h2 {
            border-top: 1px solid black;
            font-family: $sans;
            font-size: 22px;
            font-style: italic;
            font-weight: 100;
            margin-bottom: 60px;
            margin-top: 10px;
            padding-top: 10px;
            text-align: right;
        }
    }
    a {
        font-weight: 700;
        text-decoration: none;
        &:hover {
            color: rgba(51,51,51,.7);
        }
    }
    h3 {
        color: $green1;
        font-size: 21px;
        font-style: normal;
        font-weight: 700;
        margin-bottom: 10px;
        margin-top: 20px;
    }
    img {
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .gradtable {
        > div {
            margin-bottom: 5px;
            padding: 10px;
        }
        .box0 {
            background: $blue1;
            @include background-image(linear-gradient(left, $blue1 0, $blue3 100%));
            color: white;
            font-family: $sans;
            font-weight: 600;
        }
        .box1 {
            background-color: lighten($blue1, 70%);
        }
        .box2 {
            background-color: lighten($blue1, 50%);
        }
        .box3 {
            background-color: lighten($blue1, 40%);
        }
        .box4 {
            background-color: lighten($blue1, 30%);
        }
        h4 {
            color: white;
            font-family: $sans;
            font-size: 21px;
            font-style: normal;
            font-weight: 600;
            margin: 0;
        }
        strong {
            color: black;
        }
    }
    .blockright h4 {
        color: $blue1;
        font-family: $sans;
        font-style: italic;
        font-weight: 600;
        margin-bottom: 5px;
        margin-top: 0;
    }
    p strong {
        color: $blue1;
    }
    .pad5 {
        p {
            font-size: 16px;
            margin: 0;
        }
        a {
            font-weight: 700;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}
@media(min-width:768px) and (max-width:991px) {
    .green-arrows {
        background-image: url('../images/arrows-green-down.png');
    }
    .checklist {
        padding-top: 40px;
    }
}
@media(min-width:481px) and (max-width:767px) {
    .parentbox {
        display: none;
    }
    .parent1 h1 {
        text-align: center;
    }
    .parent2 ul {
        margin-top: 10px;
    }
    .parent3 h1 {
        font-size: 40px;
        margin-bottom: 20px;
    }
    .green-arrows {
        background-image: url('../images/arrows-green-down.png');
    }
    .home-content h1 {
        font-size: 40px !important;
        text-align: center;
    }
}
@media only screen and (max-width:480px) {
    .parentbox {
        display: none;
    }
    .parent1 h1 {
        font-size: 40px !important;
        text-align: center;
    }
    .parent2 ul {
        margin-top: 0;
    }
    .parent3 {
        h1 {
            font-size: 40px;
            margin-bottom: 20px;
        }
        h2 {
            padding-right: 0;
        }
    }
    .journey-icon {
        display: none;
    }
    .green-arrows {
        background-image: url('../images/arrows-green-down.png');
    }
}
@media only screen and (max-width:768px) {
    .home-content {
        h1 span {
            font-size: 18px !important;
            &::after,
            &::before {
                top: -50px;
            }
        }
    }
}
@media only screen and (max-width:480px) {
    .home-content {
        h1 span {
            font-size: 18px !important;
            &::after,
            &::before {
                top: -50px;
            }
        }
    }
}
