/* students_misc */
.g-pink {
    background: $plum1;
    @include background-image(linear-gradient(left, $plum1 0, $plum2 100%));
}
.g-blue {
    background: $blue1;
    @include background-image(linear-gradient(left, $blue1 0, $blue2 79%, $blue2 100%));
}
.g-purple {
    background: $purple1;
    @include background-image(linear-gradient(left, $purple1 0, $purple1 12%, $purple2 79%, $purple2 100%));
}
.g-green {
    background: $green1;
    @include background-image(linear-gradient(left, $green1 0, $green1 12%, $green2 79%, $green2 100%));
}
.g-orange {
    background: $orange1;
    @include background-image(linear-gradient(left, $orange1 0, $orange2 30%, $orange3 100%));
}
.g-red {
    background: $red1;
    @include background-image(linear-gradient(left, $red1 0, $red1 24%, $red2 100%, $red3 100%));
}
.g-dkblue {
    background: $dark1;
    @include background-image(linear-gradient(left, $dark1 0, $dark2 100%));
}

.arrow-blue-1, .arrow-blue-2, .arrow-blue-3, .arrow-green-1,
.arrow-orange-1, .arrow-pink-1, .arrow-purple-1, .arrow-red-1 {
    background-repeat: no-repeat;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 10;
}
.arrow-blue-1 {
    background-image: url('../images/checklist/arrow-blue-1.png');
    left: 100px;
    top: 0;
}
.arrow-blue-2 {
    background-image: url('../images/checklist/arrow-blue-2.png');
    height: 70px;
    left: 0;
    top: 0;
}
.arrow-blue-3 {
    background-image: url('../images/checklist/arrow-blue-3.png');
    left: 0;
    top: 0;
    width: 60px;
}
.arrow-green-1 {
    background-image: url('../images/checklist/arrow-green-1.png');
    left: 520px;
    top: 0;
    width: 70px;
}
.arrow-orange-1 {
    background-image: url('../images/checklist/arrow-orange-1.png');
    height: 70px;
    left: 0;
    top: 0;
}
.arrow-pink-1 {
    background-image: url('../images/checklist/arrow-pink-1.png');
    left: 0;
    top: 0;
    width: 70px;
}
.arrow-purple-1 {
    background-image: url('../images/checklist/arrow-purple-1.png');
    bottom: -65px;
    height: 65px;
    left: 0;
    z-index: 11;
}
.arrow-red-1 {
    background-image: url('../images/checklist/arrow-red-1.png');
    right: -70px;
    top: 0;
    width: 70px;
}

@media(max-width:1194px) {
    .arrow-blue-1, .arrow-blue-2, .arrow-blue-3, .arrow-green-1,
    .arrow-orange-1, .arrow-pink-1, .arrow-purple-1, .arrow-red-1 {
        display: none;
    }
}
@media(min-width:481px) and (max-width:767px) {
    .arrow-blue-2 {
        background-image: url('../images/checklist/arrow-blue-2.png');
        left: 0;
        top: 0;
    }
    .arrow-blue-3 {
        background-image: url('../images/checklist/arrow-blue-3.png');
        left: 0;
        top: 0;
    }
    .arrow-red-1 {
        background-image: url('../images/checklist/arrow-red-1.png');
        left: 390px;
        top: 0;
    }
    .arrow-pink-1 {
        background-image: url('../images/checklist/arrow-pink-1.png');
        left: 0;
        top: 0;
    }
    .arrow-green-1 {
        background-image: url('../images/checklist/arrow-green-1.png');
        left: 520px;
        top: 0;
    }
    .arrow-purple-1 {
        background-image: url('../images/checklist/arrow-purple-1.png');
        bottom: -310px;
        left: 0;
        z-index: 11;
    }
    .arrow-orange-1 {
        background-image: url('../images/checklist/arrow-orange-1.png');
        left: 0;
        top: 0;
    }
}
