/* PROJ/misc */

.g-pink {
    background: $plum1;
    @include background-image(linear-gradient(left, $plum1 0, $plum2 100%));
}
.g-blue {
    background: $blue1;
    @include background-image(linear-gradient(left, $blue1 0, $blue2 79%, $blue2 100%));
}
.g-purple {
    background: $purple1;
    @include background-image(linear-gradient(left, $purple1 0, $purple1 12%, $purple2 79%, $purple2 100%));
}
.g-green {
    background: $green1;
    @include background-image(linear-gradient(left, $green1 0, $green1 12%, $green2 79%, $green2 100%));
}
.g-orange {
    background: $orange1;
    @include background-image(linear-gradient(left, $orange1 0, $orange2 30%, $orange3 100%));
}
.g-red {
    background: $red1;
    @include background-image(linear-gradient(left, $red1 0, $red1 24%, $red2 100%, $red3 100%));
}
.g-dkblue {
    background: $dark1;
    @include background-image(linear-gradient(left, $dark1 0, $dark2 100%));
}

#stickyBar {
    @include transition( all .3s );
    bottom: 45%;
    margin-left: -1em;
    padding: 0.5em;
    position: fixed;
    z-index: 4;
    &:hover {
        margin-left: -0.6em;
    }
    td {
        background-color: dusk(0.7);
        border-radius: 0 3px 3px 0;
        box-shadow: 0 0 0.5em dusk(0.2);
        height: 3em;
        text-align: center;
        vertical-align: middle;
        width: 2em;
        &:hover {
            width: 3em;
        }
    }
    ul.socialcount {
        margin: 0.1em;
        li {
            background: none;
        }
        a {
            border-radius: 6px;
            padding: 0;
            &:hover {
                background-color: #777777;
                width: 2.5em;
            }
        }
    }
}
#scrollUp {
    @include transition( background 200ms linear );
    background-color: #999;
    bottom: 3px;
    color: white;
    font-family: $sans;
    font-size: 12px;
    opacity: .9;
    padding: 7px 20px;
    right: 18px;
    text-decoration: none;
    &:hover {
        background-color: black;
    }
    &::after {
        content: '\f102';
        font-family: FontAwesome;
        padding-left: 10px;
    }
}
.line-divider {
    background-color: black;
    height: 2px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.note {
    color: #999999;
    font-family: $sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    .fadeBottom & {
        li {
            list-style: none;
        }
    }
    ol {
        margin-bottom: 30px;
        margin-top: 10px;
        padding-left: 30px;
    }
    a {
        color: #666666;
        font-size: 12px;
        white-space: nowrap;
    }
}

.fa-bars {
    position: fixed;
}

@media all {
    .topbot {
        margin-top: 60px;
    }
    .topbott {
        margin-top: 40px;
    }
}
@media(min-width:768px) and (max-width:991px) {
    .topbott {
        margin-bottom: 10px;
        margin-top: 10px;
    }
}
@media(min-width:481px) and (max-width:767px) {
    .topbott {
        margin-bottom: 30px;
        margin-top: 10px;
    }
}
@media screen and (max-width:480px) {
    .note ol {
        margin-bottom: 30px;
        margin-top: 30px;
    }
    .topbott {
        margin-bottom: 30px;
        margin-top: 10px;
    }
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
