/* PROJ/nav */

$nav-h: 5em;

.nav-logo {
    display: inline-block;
    float: left;
    padding: .7em 1em 0.7em 0;
}
#navbar {
    background: mist(0.9);
    border-bottom: 1px solid $gray2;
    height: $nav-h;
    top: 0 !important;
    width: 100%;
    z-index: 9999;
    &:hover {
        background: white;
    }
    &.nav-home-top {
        @include transition( all .2s );
        background: mist(0.1);
        border-bottom: 1px solid mist(0.1);
        position: absolute !important;
        top: 0;
        z-index: 999;
        a {
            color: white;
            text-decoration: none;
            &:hover {
                color: $gray3;
            }
        }
        .active {
            &:hover {
                border-bottom: 2px solid white;
            }
        }
    }
    &.nav-fixed-fixed {
        @include transition( all .2s );
        background: white;
        border-bottom: 1px solid $gray2;
        position: fixed !important;
        top: 0;
        a {
            color: $gray3;
            text-decoration: none;
            &:hover {
                color: #666;
            }
        }
        .active {
            border-bottom: 2px solid $gray3;
            &:hover {
                border-bottom: 2px solid #666;
            }
        }
    }
    &.scroll-to-fixed-fixed {
        box-shadow: 0 0 22px dusk(0.1);
        &:hover {
            box-shadow: 0 0 22px dusk(0.2);
        }
    }
}
.nav-menu {
    background: mist(0.5);
    float: right;
    height: $nav-h;
    list-style: none;
    margin-bottom: 0;
    margin-right: 0;
    margin-top: 0;
    padding: 0;
    position: relative;
    z-index: 15;
}
.nav-item {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding-left: 20px;
    padding-right: 0;
    padding-top: 25px;
    &>a {
        color: $gray3;
        display: inline-block;
        font-family: $serif;
        font-size: 14px;
        margin: 0 0 -1px;
        padding: 0;
        position: relative;
        text-decoration: none;
        text-transform: uppercase;
        &.open {
            background-color: white;
            border-bottom: 0;
            z-index: 1;
        }
    }
}
li.nav-item.active a {
    border-bottom: 2px solid $gray3;
}
.sub-nav {
    background-color: black;
    border-top: 1px solid white;
    display: none;
    margin-left: -20px;
    margin-top: -1px;
    max-width: 250px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    position: absolute;
    top: 5em;
    &.open {
        display: block;
    }
    ul {
        display: inline-block;
        margin: 0 1em 0 0;
        padding: 0;
        vertical-align: top;
    }
    li {
        display: block;
        list-style-type: none;
        margin: 0 0 20px;
        padding: 0;
        a {
            color: white !important;
            display: block;
            font-family: $serif;
            list-style-type: none;
            margin: 0;
            padding: 0;
            text-decoration: none;
            &:hover, &:focus {
                color: #fc0 !important;
            }
        }
    }
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
